{% extends 'base.html' %}
{% load staticfiles bootstrap4 %}

{% block head %}
  <title>Profile</title>
  <link rel="stylesheet" href="/static/css/profile.css">
  <link rel="stylesheet" href="{% static 'css/for-form.css' %}">
  <link rel="stylesheet" href="{% static 'css/slide.css' %}">
  <link rel="stylesheet" href="{% static 'slick-1.8.0/slick/slick.css' %}">
{% endblock %}

{% block content %}
  <div  class="container block-profile for-label">

    <div style="width: 100%" class=" d-flex flex-column  margin-bottom-20">
      <div class="container d-flex justify-content-center">
        <h1 class="title-yellow">{{ customer.first_name }} {{ customer.last_name }}</h1>
      </div>
      <h4>Email: {{ customer.user.email }}</h4>
      <h4>Username: {{ customer.username }}</h4>
      <h4>Balance: {{ customer.balance }} ETH</h4>
    </div>

    <div style="width: 100%" class=" d-flex flex-column margin-bottom-20">
      <div class="container d-flex justify-content-center">
        <h1 class="title-yellow">avatar</h1>
      </div>
      <div class="d-flex justify-content-around form-avatar">
        <div>
          <img src="{{ customer.avatar.url }}" width="200">
        </div>
        <form method="post" enctype="multipart/form-data" class="">
            {% csrf_token %}
            {% bootstrap_form forms.avatar %}
            {% buttons %}
                <button type="submit" class="btn btn-yellow" name="action" value="avatar">Upload avatar</button>
            {% endbuttons %}
        </form>
      </div>
    </div>

    <div style="width: 100%" class=" d-flex flex-column align-items-center margin-bottom-20">
      <div class="container d-flex justify-content-center">
        <h1 class="title-yellow">Add balance</h1>
      </div>
      <form id='new_transaktion'>
        {% csrf_token %}
        <label for="price-value">Amount</label>
        <div class="input-group mb-3 form-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              ETH
            </span>
          </div>
          <input name="amount" id="price-value" min="{{ MINIMUM_DEPOSIT }}" value="1.5" type="text"
                 class="form-control" placeholder="1.5"  aria-describedby="basic-addon1">
        </div>
        <input name="customerId" type="hidden" value="{{request.user.customer.id}}">
        <button id="new_transaktion-form-btn" type="submit" class="btn btn-yellow">Submit</button>
      </form>
    </div>

    <div style="width: 100%" class=" d-flex flex-column align-items-center  margin-bottom-20">
      <div class="container d-flex justify-content-center">
        <h1 class="title-yellow">Withdraw ETH</h1>
      </div>
      <form method="post">
          {% csrf_token %}
          {% bootstrap_form forms.withdraw %}
          {% buttons %}
              <button type="submit" class="btn btn-yellow" name="action" value="withdraw">Request withdrawal</button>
          {% endbuttons %}
      </form>
    </div>
<!--
    <form method="post">
        {% csrf_token %}
        {% with forms.car_skin.fields.car_skin_val as car_skin_field %}
            <h6>{{ car_skin_field.label }}</h6>
            {% for car_skin in car_skin_field.queryset %}
                <label><input type="radio" name="car_skin-car_skin" value="{{ car_skin.pk }}" {% if car_skin == request.user.customer.car_skin %}checked{% endif %}> {{ car_skin.name }}
                    <img src="{{ car_skin.side_view }}" alt="{{ car_skin.name }}"></label>
            {% endfor %}
        {% endwith %}
        {% buttons %}
            <button type="submit" class="btn btn-yellow" name="action" value="car_skin">Select skin</button>
        {% endbuttons %}
    </form> -->

    <div class="hidden-xs-up user-skin-id_js">{{request.user.customer.car_skin.id}}</div>

    <div class="d-flex" style="width: 100%">
      <form method="post" class="container">

          {% csrf_token %}
          {% with forms.car_skin.fields.car_skin_val as car_skin_field %}
          <div class="container d-flex justify-content-center">
            <h1 class="title-yellow">CHOOSE A CAR</h1>
          </div>
                <div id='slider'>
                  {% for car_skin in car_skin_field.queryset %}
                    <label class="slide" data-skin-pk='{{ car_skin.pk }}'>
                        <div class="hidden-xs-up cost">{{ car_skin.price|floatformat:3 }}</div>
                        <img src="/uploads/{{ car_skin.side_view }}" alt="{{ car_skin.name }}">
                        <input data-skin-pk='{{ car_skin.pk }}' {% if car_skin.price %}disabled{% endif %} type="radio" name="car_skin-car_skin_val" id="{{ car_skin.pk }}" value="{{ car_skin.pk }}" {% if car_skin == request.user.customer.car_skin %}checked{% endif %}>
                        <!-- {{ car_skin.name }} -->
                    </label>
                  {% endfor %}
                </div>
          {% endwith %}
          <div class="d-flex buttons justify-content-center">
              <div id='prev-a' style="background-image: url('/static/img/prev.png')"></div>
              {% with forms.car_skin.fields.car_skin_val as car_skin_field %}
                {% for car_skin in car_skin_field.queryset %}
                  {% if forloop.counter == 1 %}
                    {% if car_skin.price %}
                      <button type="submit" class="btn blue-btn_js" name="action" disabled value="car_skin">BUY - {{ car_skin.price|floatformat:3 }} <img src='/static/img/eth.ico' width='30px'></button>
                    {% else %}
                      <button type="submit" class="btn blue-btn_js" name="action" value="car_skin">FREE</button>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              {% endwith %}
              <div id='next-a' style="background-image: url('/static/img/next.png')"></div>
          </div>
      </form>
    </div>


    <!-- <div class="col-xs-6">
      <form id='new_transaktion'>
        {% csrf_token %}
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              ETH
            </span>
          </div>
          <input name="amount" id="price-value" min="{{ MINIMUM_DEPOSIT }}" value="1.5" type="text"
                 class="form-control" placeholder="1.5"  aria-describedby="basic-addon1">
        </div>
        <input name="customerId" type="hidden" value="{{request.user.customer.id}}">
        <button id="new_transaktion-form-btn" type="submit" class="btn btn-yellow">Submit</button>
      </form>
    </div>

    <div class="col-xs-6">
      <form method="post">
          {% csrf_token %}
          {% bootstrap_form forms.withdraw %}
          {% buttons %}
              <button type="submit" class="btn btn-yellow" name="action" value="withdraw">Request withdrawal</button>
          {% endbuttons %}
      </form>
    </div>

    <div class="col-xs-6">
      <form method="post">
          {% csrf_token %}
          {% bootstrap_form forms.car_skin %}
          {% buttons %}
              <button type="submit" class="btn btn-yellow" name="action" value="car_skin">Select skin</button>
          {% endbuttons %}
      </form>
    </div>



  -->
  <form id='send_transaktion' action="https://www.coinpayments.net/index.php" method="post">
      <input type="hidden" name="cmd" value="_pay">
      <input type="hidden" name="reset" value="1">
      <input type="hidden" name="want_shipping" value="0">
    <input type="hidden" name="ipn_url" value="http://cryptorace.io/customer/confirm_transaction/">
      <input type="hidden" name="merchant" value="8fa8f7c588423993e1666caa0bb9e9e1">
    <input type="hidden" name="currency" value="ETH">
      <input type="hidden" id='price' name="amountf" value="1.5">
      <input type="hidden" name="item_name" value="Пополнение счета">
      <input type="hidden" name="allow_extra" value="1">
      <input id="transId" type="hidden" name="invoice" value="TRANSACTION_ID">

      <input type="hidden" name="success_url" value="https://www.coinpayments.net/index.php?cmd=acct_home">
      <input type="hidden" name="cancel_url" value="https://www.coinpayments.net/merchant-tools">
  </form>
  </div>
{% endblock %}

{% block script %}
    <script>
    window.DEMO = {% if DEMO %}true{% else %}false{% endif %};
    </script>
  <script src="{% static 'js/transaktion.js' %}"></script>
  <script src='/static/slick-1.8.0/slick/slick.min.js'></script>
  <script src='/static/js/slider.js'></script>
{% endblock %}
