<div class="race-block {% if race.started and not race.finished %}qwe{% endif %}">
  <div class="line-block">
    <span>1</span>
    <div class="track-name">{{ race.track.name }}</div>
    <a href="{% url 'game:watch' pk=race.pk %}" class="track-block-look"> <img src="/static/img/look.png"/><span>LOOK</span></a>
  </div>
  <div class="line-block">
    <div class="info-race">
      <img  src="/static/img/Shape 13.svg">
      <span class="track-length_js"
            {% if race.started and not race.finished %}data-ongoing="true"{% endif %}
            data-duration="{{ race.track.length.total_seconds }}"
            data-start="{{ race.start_datetime.timestamp }}"></span>
      <img src="/static/img/Shape 14.svg">
      {{ race.price|floatformat:'3' }}
      <img src="/static/img/Shape 15.svg">
      {{ race.racers.count }}/{{ race.racers_needed }}
    </div>
    {% if user.is_authenticated and not race.started and not race.finished and not race.pk in joined_races %}
      <a href="{% url 'game:skin' pk=race.pk %}" class="track-block-join {% if request.user.customer.balance < race.price %}disabled{% endif %}" ><img src="/static/img/plus.png">JOIN</a>
    {% endif %}
  </div>
  <div class="line-block"><img class="line-dot" src='/static/img/l.svg'></div>
</div>
