body {
  margin: 0;
  padding: 0;
  background-color: black;
  -webkit-background-size: cover;
          background-size: cover;
  font-family: ProximaNova;
  -webkit-background-size: 100% 100%;
          background-size: 100%; }

.pump-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .pump-main .overlay-title-pump {
    width: 100% !important; }
    .pump-main .overlay-title-pump .text {
      padding-left: 15px; }
    .pump-main .overlay-title-pump .title-text {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 10px; }
    .pump-main .overlay-title-pump .text-block {
      font-size: 15px;
      font-weight: 400; }
    .pump-main .overlay-title-pump .text {
      max-width: 65% !important; }
  .pump-main .title {
    padding-right: 0 !important;
    margin-right: 0 !important; }
  .pump-main .supercar-img {
    width: 300px;
    position: relative;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 500px; }
    .pump-main .supercar-img img {
      width: 550px;
      position: absolute;
      top: 0;
      right: 0; }

section {
  width: 100%; }
  section .content {
    max-width: 1308px;
    margin: 0 auto; }

.section1 {
  background-color: #0a0a0b; }

.section1 .content {
  padding: 34px 168px; }

.section2 .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/Map2.png);
  background-position-y: -20px;
  background-repeat: no-repeat; }

.section2 .title {
  margin-right: 15px; }

.start {
  color: #51f6ff;
  font-size: 42px;
  font-weight: 700;
  line-height: 21px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 346px;
  height: 97px;
  text-align: center;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.39);
  margin-top: 62px;
  margin-left: 45px;
  border: none;
  text-shadow: 0px 0px 20px #3ebdff;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
          box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.3); }
  .start:hover {
    -webkit-box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.3);
            box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.3); }

.pump {
  width: -webkit-calc(100% - 195px);
  width: calc(100% - 195px);
  padding-left: 60px; }

.pump-title {
  margin-top: 320px; }

.pump-title-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .pump-title-top a:hover {
    text-decoration: none; }

.pump-title-top-img {
  margin-bottom: 20px; }

.title {
  font-family: ProximaNova-BoldItalic;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 74px; }
  .title img {
    margin-right: 22px; }
  .title span {
    font-family: ProximaNova-BoldItalic !important;
    padding: 12px 121px 12px 32px;
    color: #111112;
    font-size: 30px;
    background-image: url(../img/flag.png);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #ffc50a;
    -webkit-background-size: auto 100%;
            background-size: auto 100%;
    background-repeat: no-repeat;
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
    margin-right: 30px;
    text-align: center;
    white-space: nowrap;
    line-height: 22px; }

.title-choose {
  max-width: 628px; }

.section3 .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/ROAD-index.png);
  height: 226px;
  background-position: center;
  background-repeat: no-repeat; }

.track-title {
  color: white;
  text-align: center;
  margin-left: 19px;
  margin-right: 31px;
  font-size: 30px;
  font-weight: bold; }
  .track-title span {
    color: #ffc50a; }

.section4 {
  margin-bottom: 95px; }
  .section4 .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 60px 200px 0 200px; }

.track-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px; }

.track-block:last-child {
  margin-right: 0px; }

.track-block-img {
  height: 136px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px; }

.track-block-text {
  color: #4d627d;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
  width: 150px; }
  .track-block-text span {
    color: #35baeb; }

.track-block-look, .track-block-join, .track-block-build {
  -webkit-border-radius: 100px;
          border-radius: 100px;
  border: none;
  color: #19191b;
  font-size: 18px;
  font-weight: 900;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 25px 0 13px;
  height: 35px;
  cursor: pointer; }
  .track-block-look img, .track-block-join img, .track-block-build img {
    margin-right: 9px; }
  .track-block-look:hover, .track-block-join:hover, .track-block-build:hover {
    text-decoration: none;
    color: #19191b; }

.track-block-look {
  background-color: #ffc50a;
  margin-bottom: 5px; }

.track-block-join {
  color: white;
  background-color: #f8682f; }
  .track-block-join:hover {
    text-decoration: none;
    color: white; }

.track-block-build {
  background-color: #35baeb; }

.section5 .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 140px 0 140px;
  margin-bottom: 70px; }

.cryptofuel {
  margin-right: 34px;
  width: 320px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }

.line-picker-block {
  width: 100%; }

.line-picker-el {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.line-picker-el-name {
  color: #ffffff;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 600;
  width: 150px;
  display: inline-block; }

.line-picker-el-img {
  width: 441px;
  height: 54px;
  margin-right: 48px;
  max-width: 500px; }

.line-picker-el-percentages {
  color: #d7d7d7;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.25098)), to(rgba(0, 0, 0, 0.501961)));
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.25098) 0%, rgba(0, 0, 0, 0.501961) 100%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.25098) 0%, rgba(0, 0, 0, 0.501961) 100%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25098) 0%, rgba(0, 0, 0, 0.501961) 100%);
  width: 86px;
  height: 33px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }

.section6 .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 140px 0 140px; }

.list-dotted {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  background-color: #ffffff;
  color: #121214;
  font-size: 20px;
  font-weight: 900;
  margin-right: 24px;
  width: 29px;
  height: 29px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }

.bet-block {
  width: 100%;
  margin-bottom: 100px; }

.bet-block-el {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 15px; }
  .bet-block-el.gold .dotted-line {
    background: url("../img/dotted-line-gold.png") 10% 75% repeat-x !important; }
  .bet-block-el.gold .list-dotted {
    background-color: #ffc50a; }
  .bet-block-el.gold .bet-block-el-name {
    color: #ffc50a; }
  .bet-block-el.gold button {
    background-color: #ffc50a; }

.bet-block-el-name {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  margin-right: 20px; }

.bet-block-el-bet {
  -webkit-border-radius: 15px;
          border-radius: 15px;
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  background-color: #ffffff;
  width: 131px;
  height: 33px;
  color: #0a0a0a;
  font-size: 18px;
  font-weight: 900;
  margin-left: 25px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }

.dotted-line {
  position: relative;
  height: 39px;
  width: 100%;
  background: url("../img/dotted-line.png") 10% 75% repeat-x; }
  .dotted-line img {
    position: absolute;
    right: 400px;
    width: 76px;
    height: 39px; }

.first3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px; }

.first3-el {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.first3-el:last-child {
  margin-right: 0px; }

.place {
  color: white;
  margin-left: 40px;
  font-size: 30px;
  width: 100%;
  font-weight: bold; }
  .place .place-number {
    color: #ffc50a; }

.first3-el-img {
  margin-bottom: 20px;
  width: 100%;
  max-width: 280px; }

.first3-el-name {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold; }

.first3-el-score {
  color: #3ebdff;
  font-size: 16px;
  font-weight: 600;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.25098)), to(rgba(0, 0, 0, 0.501961)));
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.25098) 0%, rgba(0, 0, 0, 0.501961) 100%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.25098) 0%, rgba(0, 0, 0, 0.501961) 100%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25098) 0%, rgba(0, 0, 0, 0.501961) 100%);
  width: 131px;
  height: 33px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.other {
  width: 100%; }
  .other.second-type .other-el-name {
    margin-right: 5px; }
  .other.second-type img {
    margin-right: 17px;
    width: 76px;
    height: 40px; }

.other-el {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 10px; }

.other-el-name {
  color: white;
  margin-right: 20px;
  font-weight: bold; }

.other-el-score {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.25098)), to(rgba(0, 0, 0, 0.501961)));
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.25098) 0%, rgba(0, 0, 0, 0.501961) 100%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.25098) 0%, rgba(0, 0, 0, 0.501961) 100%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25098) 0%, rgba(0, 0, 0, 0.501961) 100%);
  width: 133px;
  height: 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 14px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }

.section7 {
  border-color: black; }
  .section7 .content {
    padding: 110px 140px 20px 140px; }

.project-name {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px; }

.footer-link-group {
  margin-bottom: 24px; }

.footer-link-group > a, .footer-link-group > span {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  margin-right: 15px;
  text-decoration: none; }

.footer-info {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.25;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer-info-soc > a {
  margin-right: 26px; }

.footer-info-soc > a:last-child {
  margin-right: 0px; }

.small-icon {
  width: 40px;
  height: 40px; }

.ETH * {
  color: #39ef99; }

.XRP * {
  color: #41e6ff; }

.BCH * {
  color: #ffc50a; }

.LTC * {
  color: #d7d7d7; }
