.cointype .coin-code {
  font-size: 18px;
  font-weight: 600;
  width: 60px; }

.cointype .irs-slider.single {
  border: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: -5px 0px 0.96px 0.04px rgba(12, 10, 10, 0.49);
          box-shadow: -5px 0px 0.96px 0.04px rgba(12, 10, 10, 0.49);
  -webkit-background-size: 41px 41px;
          background-size: 41px 41px;
  background-position: center right;
  background-repeat: no-repeat; }

body .cointype.btc-cointype .input-coin-hands {
  color: #ffffff; }
  body .cointype.btc-cointype .input-coin-hands input {
    color: #ffffff; }

body .cointype.btc-cointype .coin-code {
  color: #ffffff; }

body .cointype.btc-cointype .irs-bar, body .cointype.btc-cointype .irs-bar-edge {
  background: #ffffff;
  border-color: #ffffff;
  -webkit-box-shadow: 0px 0px 13px -2px #ffffff;
          box-shadow: 0px 0px 13px -2px #ffffff; }

body .cointype.btc-cointype .irs-slider.single {
  background-color: #ffffff;
  background-image: url("/static/img/coin-logo/btc.png"); }

body .cointype.xrp-cointype .input-coin-hands {
  color: #41e6ff; }
  body .cointype.xrp-cointype .input-coin-hands input {
    color: #41e6ff; }

body .cointype.xrp-cointype .coin-code {
  color: #41e6ff; }

body .cointype.xrp-cointype .irs-bar, body .cointype.xrp-cointype .irs-bar-edge {
  background: #41e6ff;
  border-color: #41e6ff;
  -webkit-box-shadow: 0px 0px 13px -2px #41e6ff;
          box-shadow: 0px 0px 13px -2px #41e6ff; }

body .cointype.xrp-cointype .irs-slider.single {
  background-color: #41e6ff;
  background-image: url("/static/img/coin-logo/xrp.png"); }

body .cointype.dash-cointype .input-coin-hands {
  color: #3593eb; }
  body .cointype.dash-cointype .input-coin-hands input {
    color: #3593eb; }

body .cointype.dash-cointype .coin-code {
  color: #3593eb; }

body .cointype.dash-cointype .irs-bar, body .cointype.dash-cointype .irs-bar-edge {
  background: #3593eb;
  border-color: #3593eb;
  -webkit-box-shadow: 0px 0px 13px -2px #3593eb;
          box-shadow: 0px 0px 13px -2px #3593eb; }

body .cointype.dash-cointype .irs-slider.single {
  background-color: #3593eb;
  background-image: url("/static/img/coin-logo/dash.png"); }

body .cointype.eth-cointype .input-coin-hands {
  color: #39ef99; }
  body .cointype.eth-cointype .input-coin-hands input {
    color: #39ef99; }

body .cointype.eth-cointype .coin-code {
  color: #39ef99; }

body .cointype.eth-cointype .irs-bar, body .cointype.eth-cointype .irs-bar-edge {
  background: #39ef99;
  border-color: #39ef99;
  -webkit-box-shadow: 0px 0px 13px -2px #39ef99;
          box-shadow: 0px 0px 13px -2px #39ef99; }

body .cointype.eth-cointype .irs-slider.single {
  background-color: #39ef99;
  background-image: url("/static/img/coin-logo/eth.png"); }

body .cointype.bch-cointype .input-coin-hands {
  color: #ffc50a; }
  body .cointype.bch-cointype .input-coin-hands input {
    color: #ffc50a; }

body .cointype.bch-cointype .coin-code {
  color: #ffc50a; }

body .cointype.bch-cointype .irs-bar, body .cointype.bch-cointype .irs-bar-edge {
  background: #ffc50a;
  border-color: #ffc50a;
  -webkit-box-shadow: 0px 0px 13px -2px #ffc50a;
          box-shadow: 0px 0px 13px -2px #ffc50a; }

body .cointype.bch-cointype .irs-slider.single {
  background-color: #ffc50a;
  background-image: url("/static/img/coin-logo/bch.png"); }

body .cointype.ltc-cointype .input-coin-hands {
  color: #d7d7d7; }
  body .cointype.ltc-cointype .input-coin-hands input {
    color: #d7d7d7; }

body .cointype.ltc-cointype .coin-code {
  color: #d7d7d7; }

body .cointype.ltc-cointype .irs-bar, body .cointype.ltc-cointype .irs-bar-edge {
  background: #d7d7d7;
  border-color: #d7d7d7;
  -webkit-box-shadow: 0px 0px 13px -2px #d7d7d7;
          box-shadow: 0px 0px 13px -2px #d7d7d7; }

body .cointype.ltc-cointype .irs-slider.single {
  background-color: #d7d7d7;
  background-image: url("/static/img/coin-logo/ltc.png"); }

body .cointype.neo-cointype .input-coin-hands {
  color: #96d006; }
  body .cointype.neo-cointype .input-coin-hands input {
    color: #96d006; }

body .cointype.neo-cointype .coin-code {
  color: #96d006; }

body .cointype.neo-cointype .irs-bar, body .cointype.neo-cointype .irs-bar-edge {
  background: #96d006;
  border-color: #96d006;
  -webkit-box-shadow: 0px 0px 13px -2px #96d006;
          box-shadow: 0px 0px 13px -2px #96d006; }

body .cointype.neo-cointype .irs-slider.single {
  background-color: #96d006;
  background-image: url("/static/img/coin-logo/neo.png"); }

body .cointype.iota-cointype .input-coin-hands {
  color: #464646; }
  body .cointype.iota-cointype .input-coin-hands input {
    color: #464646; }

body .cointype.iota-cointype .coin-code {
  color: #464646; }

body .cointype.iota-cointype .irs-bar, body .cointype.iota-cointype .irs-bar-edge {
  background: #464646;
  border-color: #464646;
  -webkit-box-shadow: 0px 0px 13px -2px #464646;
          box-shadow: 0px 0px 13px -2px #464646; }

body .cointype.iota-cointype .irs-slider.single {
  background-color: #464646;
  background-image: url("/static/img/coin-logo/iota.png"); }

body .cointype.xmr-cointype .input-coin-hands {
  color: #ff6600; }
  body .cointype.xmr-cointype .input-coin-hands input {
    color: #ff6600; }

body .cointype.xmr-cointype .coin-code {
  color: #ff6600; }

body .cointype.xmr-cointype .irs-bar, body .cointype.xmr-cointype .irs-bar-edge {
  background: #ff6600;
  border-color: #ff6600;
  -webkit-box-shadow: 0px 0px 13px -2px #ff6600;
          box-shadow: 0px 0px 13px -2px #ff6600; }

body .cointype.xmr-cointype .irs-slider.single {
  background-color: #ff6600;
  background-image: url("/static/img/coin-logo/xmr.png"); }

body .cointype.xlm-cointype .input-coin-hands {
  color: #ff6600; }
  body .cointype.xlm-cointype .input-coin-hands input {
    color: #ff6600; }

body .cointype.xlm-cointype .coin-code {
  color: #ff6600; }

body .cointype.xlm-cointype .irs-bar, body .cointype.xlm-cointype .irs-bar-edge {
  background: #ff6600;
  border-color: #ff6600;
  -webkit-box-shadow: 0px 0px 13px -2px #ff6600;
          box-shadow: 0px 0px 13px -2px #ff6600; }

body .cointype.xlm-cointype .irs-slider.single {
  background-color: #ff6600;
  background-image: url("/static/img/coin-logo/xlm.png"); }

body .cointype.eos-cointype .input-coin-hands {
  color: #464646; }
  body .cointype.eos-cointype .input-coin-hands input {
    color: #464646; }

body .cointype.eos-cointype .coin-code {
  color: #464646; }

body .cointype.eos-cointype .irs-bar, body .cointype.eos-cointype .irs-bar-edge {
  background: #464646;
  border-color: #464646;
  -webkit-box-shadow: 0px 0px 13px -2px #464646;
          box-shadow: 0px 0px 13px -2px #464646; }

body .cointype.eos-cointype .irs-slider.single {
  background-color: #464646;
  background-image: url("/static/img/coin-logo/eos.png"); }

body .cointype.ada-cointype .input-coin-hands {
  color: #327aff; }
  body .cointype.ada-cointype .input-coin-hands input {
    color: #327aff; }

body .cointype.ada-cointype .coin-code {
  color: #327aff; }

body .cointype.ada-cointype .irs-bar, body .cointype.ada-cointype .irs-bar-edge {
  background: #327aff;
  border-color: #327aff;
  -webkit-box-shadow: 0px 0px 13px -2px #327aff;
          box-shadow: 0px 0px 13px -2px #327aff; }

body .cointype.ada-cointype .irs-slider.single {
  background-color: #327aff;
  background-image: url("/static/img/coin-logo/ada.png"); }

.cointype {
  width: 450px;
  margin: auto; }
  .cointype .flex-position {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .cointype .input-coin-hands {
    -webkit-border-radius: 16px;
            border-radius: 16px;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.25098)), to(rgba(0, 0, 0, 0.9)));
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.25098) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.25098) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.25098) 0%, rgba(0, 0, 0, 0.9) 100%);
    -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
            box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
    width: 59px;
    height: 21px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 10px; }
    .cointype .input-coin-hands input {
      margin-right: 2px;
      height: 21px;
      padding: 0 !important;
      background: transparent;
      font-size: 15px;
      font-weight: 700;
      border: none;
      width: 30px;
      max-width: 30px !important;
      text-align: right;
      text-shadow: 0px -2px 0px rgba(0, 0, 0, 0.67); }
  .cointype .irs-line {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
            box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.3); }

.isHidden {
  display: none; }

.overlay-slider-rage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.irs {
  width: 243px; }

#id_percentages, label[for='id_percentages'] {
  display: none; }

.user-fuel-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px; }
  .user-fuel-block .text {
    max-width: 350px;
    margin-left: 10px;
    font-size: 15px; }

.content-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .content-flex .overlay-for-btn {
    margin-top: 40px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .content-flex .overlay-for-btn button {
      background-color: #ff4b05;
      padding: 12px 48px;
      font-size: 30px;
      font-weight: bold;
      -webkit-border-radius: 40px;
              border-radius: 40px;
      border: none;
      color: white;
      margin-right: 20px; }
    .content-flex .overlay-for-btn a {
      font-size: 30px;
      font-weight: bold;
      color: white; }
      .content-flex .overlay-for-btn a img {
        height: 38px; }
  .content-flex .title-fuel-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 25px; }
    .content-flex .title-fuel-block img {
      width: 34px;
      margin-right: 10px; }
    .content-flex .title-fuel-block span {
      color: #ffc50a;
      font-size: 30px;
      font-weight: 600; }
  .content-flex .img-barel {
    width: 330px; }
    .content-flex .img-barel img {
      width: 100%; }

#join-form_js {
  max-width: 900px;
  margin: 0 auto; }
