h2 {
  text-align: center; }

.center-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.content-reg {
  max-width: 600px; }

.row .form-check label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px; }
  .row .form-check label .chec-custom {
    margin: 0 1px;
    width: 25px;
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
    height: 25px;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    border: 5px solid rgba(63, 63, 63, 0.31);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #000000;
    margin-right: 10px; }

.row .form-check input {
  display: none; }

.row .form-check input:checked + label .chec-custom {
  background-color: #eb4605; }

.form-group .input-group-text {
  color: #7c858d;
  background-color: #000;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.4) !important;
          box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.4) !important;
  border: none !important;
  height: 33px; }

.form-group .input-group-prepend, .form-group .input-group-text {
  -webkit-border-top-left-radius: 15px !important;
          border-top-left-radius: 15px !important;
  -webkit-border-bottom-left-radius: 15px !important;
          border-bottom-left-radius: 15px !important; }

.form-group input, .form-group select {
  width: 100%;
  font-weight: 600;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffc50a;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.4);
          box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.4);
  height: 33px;
  background-color: #000;
  padding: 0 20px; }
  .form-group input:focus, .form-group select:focus {
    background-color: #111;
    color: #ffc50a;
    border-color: #ffc50a;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 197, 10, 0.25);
            box-shadow: 0 0 0 0.2rem rgba(255, 197, 10, 0.25); }

.btn-yellow {
  color: #51f6ff;
  font-size: 42px;
  font-weight: 700;
  line-height: 21px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 346px;
  height: 97px;
  text-align: center;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.39);
  margin-top: 62px;
  border: none;
  text-shadow: 0px 0px 20px #3ebdff;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
          box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.3); }
  .btn-yellow:hover {
    -webkit-box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.3);
            box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.3); }

.for-label label {
  text-transform: uppercase;
  color: #6c757d; }

.margin-bottom-20 {
  margin-bottom: 60px; }
