@charset "UTF-8";
.section4 .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.track-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
  margin-bottom: 25px; }

.track-block:last-child {
  margin-right: 0px; }

.track-block-img {
  height: 136px;
  width: 216px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.track-block-text {
  color: #4d627d;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 5px;
  width: 216px; }
  .track-block-text ~ a {
    margin: 10px; }
    .track-block-text ~ a.track-block-join:hover {
      color: white;
      text-decoration: none; }
    .track-block-text ~ a.track-block-look:hover {
      color: black;
      text-decoration: none; }
  .track-block-text span {
    color: #35baeb; }

.track-block-look, .track-block-join, .track-block-build {
  -webkit-border-radius: 100px;
          border-radius: 100px;
  border: none;
  color: #19191b;
  font-size: 18px;
  font-weight: 900;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 25px 0 13px;
  height: 35px;
  cursor: pointer; }
  .track-block-look img, .track-block-join img, .track-block-build img {
    margin-right: 9px; }

.track-block-look {
  background-color: #ffc50a; }
  .track-block-look:hover {
    background: #f8682f;
    color: black;
    text-decoration: none; }

.track-block-join {
  color: white;
  background-color: #f8682f; }

.track-block-build {
  background-color: #35baeb; }

.race-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 5px; }
  .race-block .track-block-look {
    margin-left: auto; }
  .race-block .track-name {
    text-transform: uppercase;
    color: white;
    font-size: 30px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700; }
  .race-block .line-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 8px; }
    .race-block .line-block > span {
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background-color: #ffc50a;
      width: 29px;
      height: 29px;
      color: #121214;
      font-size: 20px;
      margin-right: 14px;
      font-weight: 900;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }

.line-dot {
  width: 100% !important;
  margin: 40px 0; }

.info-race {
  -webkit-border-radius: 15px;
          border-radius: 15px;
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.25098)), to(rgba(0, 0, 0, 0.501961)));
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.25098) 0%, rgba(0, 0, 0, 0.501961) 100%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.25098) 0%, rgba(0, 0, 0, 0.501961) 100%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25098) 0%, rgba(0, 0, 0, 0.501961) 100%);
  -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
  padding: 0 10px 0 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 33px; }
  .info-race img {
    width: 21px;
    margin: 0 8px; }

.track-block-join {
  margin-left: auto; }

.track-length_js {
  width: 120px !important; }

.white-title {
  background: white !important; }

.track-block-join:hover {
  text-decoration: none;
  color: white;
  background: #52b936; }
