body .coin-round.btc-cointype {
  background-color: #ffffff;
  background-image: url("/static/img/coin-logo/btc.png"); }

body .coin-round.xrp-cointype {
  background-color: #41e6ff;
  background-image: url("/static/img/coin-logo/xrp.png"); }

body .coin-round.dash-cointype {
  background-color: #3593eb;
  background-image: url("/static/img/coin-logo/dash.png"); }

body .coin-round.eth-cointype {
  background-color: #39ef99;
  background-image: url("/static/img/coin-logo/eth.png"); }

body .coin-round.bch-cointype {
  background-color: #ffc50a;
  background-image: url("/static/img/coin-logo/bch.png"); }

body .coin-round.ltc-cointype {
  background-color: #d7d7d7;
  background-image: url("/static/img/coin-logo/ltc.png"); }

body .coin-round.neo-cointype {
  background-color: #96d006;
  background-image: url("/static/img/coin-logo/neo.png"); }

body .coin-round.iota-cointype {
  background-color: #464646;
  background-image: url("/static/img/coin-logo/iota.png"); }

body .coin-round.xmr-cointype {
  background-color: #ff6600;
  background-image: url("/static/img/coin-logo/xmr.png"); }

body .coin-round.xlm-cointype {
  background-color: #ff6600;
  background-image: url("/static/img/coin-logo/xlm.png"); }

body .coin-round.eos-cointype {
  background-color: #464646;
  background-image: url("/static/img/coin-logo/eos.png"); }

body .coin-round.ada-cointype {
  background-color: #327aff;
  background-image: url("/static/img/coin-logo/ada.png"); }

.container-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }

.racer-info-block {
  margin: auto;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .racer-info-block.active {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex; }

.coin-round {
  -webkit-background-size: 30px 30px;
          background-size: 30px 30px;
  background-position: center right;
  background-repeat: no-repeat;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  background-repeat: no-repeat;
  -webkit-transform: skew(13deg);
      -ms-transform: skew(13deg);
          transform: skew(13deg);
  width: 25px;
  height: 25px; }

.racers-title-overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .racers-title-overlay img {
    position: relative;
    left: -7px;
    height: 49px; }

.racers-title {
  padding: 0 25px 0 25px;
  background-color: #ffc50a;
  min-width: 221px;
  height: 49px;
  -webkit-transform: skew(-13deg);
      -ms-transform: skew(-13deg);
          transform: skew(-13deg);
  color: #131314;
  font-size: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
  position: relative; }

.percent {
  font-size: 18px;
  margin: 0 13px; }

.racers-name {
  text-transform: uppercase;
  background-color: #ffffff;
  -webkit-transform: skew(-13deg);
      -ms-transform: skew(-13deg);
          transform: skew(-13deg);
  color: #000;
  height: 49px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 73px;
  position: relative;
  padding-right: 42px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 30px;
  position: relative;
  z-index: 11; }
  .racers-name img {
    width: 65px;
    height: 22px;
    -webkit-transform: skew(13deg);
        -ms-transform: skew(13deg);
            transform: skew(13deg);
    margin-right: 14px; }
  .racers-name .race-avatar {
    -webkit-transform: skew(13deg);
        -ms-transform: skew(13deg);
            transform: skew(13deg);
    left: -17px;
    position: absolute;
    -webkit-box-shadow: 6px 0px 3px 0px rgba(60, 59, 59, 0.47);
            box-shadow: 6px 0px 3px 0px rgba(60, 59, 59, 0.47); }
  .racers-name span {
    color: #f8682f; }

.racers-status {
  padding: 5px 40px 5px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: skew(-13deg);
      -ms-transform: skew(-13deg);
          transform: skew(-13deg);
  z-index: 10;
  position: relative;
  left: -4px;
  background-color: #000000;
  min-width: 624px;
  height: 36px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 0 0 0 90px;
          border-radius: 0 0 0 90px;
  font-size: 22px;
  font-weight: 700; }
  .racers-status .ps {
    color: #fff200;
    margin-right: 32px; }
  .racers-status .score {
    color: #fff;
    margin-right: 17px; }
  .racers-status .place {
    color: #fff; }
    .racers-status .place span {
      color: #ffc50a; }
  .racers-status .arrow {
    color: #8dc73f;
    font-size: 35px;
    font-weight: 900;
    margin-right: 29px; }
  .racers-status .border-shape {
    opacity: .5;
    height: 19px;
    background: #fff;
    width: 1px;
    margin-right: 21px; }

.road-block {
  position: relative;
  width: 100%;
  max-width: 1518px;
  height: 359px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("/static/img/road-race.png");
  -webkit-background-size: 1000px 100%;
          background-size: 1000px 100%;
  background-position: center;
  background-repeat: no-repeat; }
  .road-block .timer-start {
    z-index: 20;
    position: relative;
    border-style: solid;
    border-width: 7px;
    -webkit-border-radius: 40px;
            border-radius: 40px;
    border-color: rgba(63, 63, 63, 0.4);
    background-color: #000000;
    -webkit-box-shadow: 0px 6px 23.04px 0.96px rgba(3, 0, 0, 0.82);
            box-shadow: 0px 6px 23.04px 0.96px rgba(3, 0, 0, 0.82);
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 5px 15px;
    width: 270px;
    height: 90px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 220px; }
    .road-block .timer-start .circ-count-overlay {
      bottom: -20px;
      left: 0;
      position: absolute;
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .road-block .timer-start .text {
      font-size: 18px; }
    .road-block .timer-start .circ-count {
      margin: 0 1px;
      width: 30px;
      -webkit-background-clip: padding-box;
              background-clip: padding-box;
      height: 30px;
      -webkit-border-radius: 100%;
              border-radius: 100%;
      border: 5px solid rgba(63, 63, 63, 0.31);
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      background-color: #000000; }
      .road-block .timer-start .circ-count.second span {
        background-color: yellow;
        -webkit-box-shadow: 0 0 4px .2px yellow;
                box-shadow: 0 0 4px .2px yellow; }
      .road-block .timer-start .circ-count span {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background-color: #eb4605;
        width: 100%;
        height: 100%;
        -webkit-box-shadow: 0 0 4px .2px #eb4605;
                box-shadow: 0 0 4px .2px #eb4605; }
    .road-block .timer-start .time {
      color: #76fa00;
      font-size: 30px;
      font-weight: 400;
      line-height: 30px; }
    .road-block .timer-start img {
      width: 43px; }
  .road-block.not-start {
    background-image: url("/static/img/Finish.png"), url("/static/img/START.png"), url("/static/img/ROAD.png");
    -webkit-background-size: 40px 251px, 10px 251px, 100% 100%;
            background-size: 40px 251px, 10px 251px, 100% 100%;
    background-position: 90%  center, 605px  center , center;
    background-repeat: no-repeat; }
    .road-block.not-start .position {
      background-repeat: no-repeat;
      background-position: left top, right bottom;
      -webkit-background-size: contain, 45px 45px;
              background-size: contain, 45px 45px; }
      .road-block.not-start .position.position-1 {
        left: 450px; }
      .road-block.not-start .position.position-2 {
        top: inherit;
        bottom: 74px;
        left: 450px; }
      .road-block.not-start .position.position-3 {
        left: 280px; }
      .road-block.not-start .position.position-4 {
        bottom: 74px;
        top: inherit;
        left: 280px; }
    .road-block.not-start .position-fake {
      position: absolute;
      background-repeat: no-repeat;
      background-position: center, right bottom;
      -webkit-background-size: 22px 42px, 45px 45px;
              background-size: 22px 42px, 45px 45px;
      width: 139px;
      top: 74px;
      height: 75px; }
      .road-block.not-start .position-fake.position-1 {
        left: 450px;
        background-image: url("/static/img/01.png"), url("/static/img/ret.png"); }
      .road-block.not-start .position-fake.position-2 {
        background-image: url("/static/img/02.png"), url("/static/img/ret.png");
        top: inherit;
        bottom: 74px;
        left: 450px; }
      .road-block.not-start .position-fake.position-3 {
        background-image: url("/static/img/03.png"), url("/static/img/ret.png");
        left: 280px; }
      .road-block.not-start .position-fake.position-4 {
        top: inherit;
        background-image: url("/static/img/04.png"), url("/static/img/ret.png");
        bottom: 74px;
        left: 280px; }
  .road-block .position {
    position: absolute;
    -webkit-background-size: contain;
            background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    cursor: pointer;
    top: 74px;
    width: 139px;
    height: 75px; }
    .road-block .position .hint {
      min-width: 120px;
      height: 37px;
      padding: 2px 4px;
      text-align: center;
      background-color: #131314;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border: 4px solid #333;
      -webkit-border-radius: 15px;
              border-radius: 15px;
      position: absolute;
      top: -45px;
      left: 8px; }
      .road-block .position .hint.active {
        border-color: #45f899;
        -webkit-box-shadow: 0px 0px 8px 1px rgba(69, 248, 153, 0.6);
                box-shadow: 0px 0px 8px 1px rgba(69, 248, 153, 0.6); }
        .road-block .position .hint.active::before {
          content: ' ';
          border-top: 20px solid #45f899; }
      .road-block .position .hint::before {
        content: ' ';
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 20px solid #333;
        position: absolute;
        bottom: -20px;
        left: 47px; }
      .road-block .position .hint::after {
        content: ' ';
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 12px solid #131314;
        position: absolute;
        bottom: -12px;
        left: 51px; }
    .road-block .position.position-1 {
      -webkit-animation-name: spin1;
              animation-name: spin1;
      right: 340px;
      right: 440px;
      -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
              animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
      -webkit-animation-duration: 6000ms;
              animation-duration: 6000ms; }
    .road-block .position.position-2 {
      -webkit-animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
              animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
      -webkit-animation-duration: 3000ms;
              animation-duration: 3000ms;
      -webkit-animation-name: spin2;
              animation-name: spin2;
      top: inherit;
      bottom: 74px;
      right: 420px;
      right: 520px; }
    .road-block .position.position-3 {
      -webkit-animation-name: spin3;
              animation-name: spin3;
      right: 640px;
      right: 740px;
      -webkit-animation-duration: 4000ms;
              animation-duration: 4000ms; }
    .road-block .position.position-4 {
      -webkit-animation-name: spin4;
              animation-name: spin4;
      -webkit-animation-duration: 7000ms;
              animation-duration: 7000ms;
      right: 850px;
      right: 900px;
      bottom: 74px;
      top: inherit; }

.race-info-block {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 800px; }
  .race-info-block .eth-coin {
    background-image: url("/static/img/coin-logo/eth.png");
    width: 35px;
    height: 35px;
    background-color: #39ef99;
    background-position: center right;
    -webkit-background-size: 39px 39px;
            background-size: 39px 39px;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    position: relative;
    right: -20px; }
  .race-info-block .field-race-info-title {
    color: white;
    font-size: 30px;
    margin-right: 20px;
    font-weight: 700; }
    .race-info-block .field-race-info-title.grey {
      color: #707070; }
  .race-info-block .button {
    -webkit-border-radius: 25px;
            border-radius: 25px;
    background-color: #ffc50a;
    width: 240px;
    height: 52px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #131314;
    font-size: 30px;
    font-weight: 900; }
  .race-info-block .title-race-info {
    color: #ffc50a;
    font-size: 30px;
    font-weight: 600; }
  .race-info-block .content-race-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .race-info-block .content-race-info .field-race-info {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .race-info-block .content-race-info .field-race-block {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .race-info-block .content-race-info .info-race-info {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      font-weight: 600;
      -webkit-border-radius: 15px;
              border-radius: 15px;
      border-style: solid;
      border-width: 1px;
      border-color: #000000;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
              box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
      height: 33px;
      background-color: #000;
      padding: 0 20px; }
      .race-info-block .content-race-info .info-race-info.long {
        width: 240px; }
      .race-info-block .content-race-info .info-race-info span.green {
        color: #78ff00;
        font-size: 17px;
        font-weight: 600;
        margin-right: 7px; }
      .race-info-block .content-race-info .info-race-info span {
        font-weight: 600;
        font-size: 21px;
        margin-right: 5px;
        color: #ffffff; }
      .race-info-block .content-race-info .info-race-info div {
        font-size: 17px;
        color: #707070; }

.hidden-xs-up {
  display: none !important; }

.green-shadow {
  text-shadow: 0 0 6px #76fa00; }

.finished-block {
  margin-bottom: 30px; }

@-webkit-keyframes spin1 {
  0% {
    right: 410px; }
  50% {
    right: 470px; }
  100% {
    right: 410px; } }

@keyframes spin1 {
  0% {
    right: 410px; }
  50% {
    right: 470px; }
  100% {
    right: 410px; } }

@-webkit-keyframes spin2 {
  0% {
    bottom: 74px;
    right: 550px; }
  36% {
    bottom: 74px;
    right: 520px; }
  100% {
    bottom: 74px;
    right: 550px; } }

@keyframes spin2 {
  0% {
    bottom: 74px;
    right: 550px; }
  36% {
    bottom: 74px;
    right: 520px; }
  100% {
    bottom: 74px;
    right: 550px; } }

@-webkit-keyframes spin3 {
  0% {
    right: 740px; }
  69% {
    right: 880px; }
  100% {
    right: 740px; } }

@keyframes spin3 {
  0% {
    right: 740px; }
  69% {
    right: 880px; }
  100% {
    right: 740px; } }

@-webkit-keyframes spin4 {
  0% {
    right: 940px; }
  26% {
    right: 890px; }
  100% {
    right: 940px; } }

@keyframes spin4 {
  0% {
    right: 940px; }
  26% {
    right: 890px; }
  100% {
    right: 940px; } }

.tree1 {
  width: 200px;
  position: absolute;
  bottom: -70px; }

.tree2 {
  width: 180px;
  position: absolute;
  top: -70px; }

.tree3:not(.false) {
  width: 80px;
  position: absolute;
  top: 10px;
  right: 10%;
  -webkit-animation-name: tree3;
          animation-name: tree3;
  -webkit-animation-duration: 20000ms;
          animation-duration: 20000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear; }

.tree1 {
  -webkit-animation-name: tree1;
          animation-name: tree1;
  -webkit-animation-duration: 9000ms;
          animation-duration: 9000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  z-index: 2000000; }

.tree2 {
  -webkit-animation-name: tree1;
          animation-name: tree1;
  -webkit-animation-duration: 9000ms;
          animation-duration: 9000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  right: -300px;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear; }

.road-block:not(.not-start) {
  -webkit-animation-name: road;
          animation-name: road;
  -webkit-animation-duration: 9000ms;
          animation-duration: 9000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background-repeat: repeat !important; }

@-webkit-keyframes road {
  0% {
    background-position: 0px; }
  100% {
    background-position: -1000px; } }

@keyframes road {
  0% {
    background-position: 0px; }
  100% {
    background-position: -1000px; } }

@-webkit-keyframes tree1 {
  0% {
    right: -300px; }
  100% {
    right: 2030px; } }

@keyframes tree1 {
  0% {
    right: -300px; }
  100% {
    right: 2030px; } }

@-webkit-keyframes tree3 {
  0% {
    right: -10%; }
  100% {
    right: 120%; } }

@keyframes tree3 {
  0% {
    right: -10%; }
  100% {
    right: 120%; } }

.road-wrapper {
  height: 440px;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 1518px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.top-place {
  font-size: 30px;
  color: #78ff00 !important; }
