#slider {
  width: 940px;
  height: auto;
  margin: 0 auto; }

.slide {
  width: 940px;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px; }
  .slide img {
    width: 920px;
    height: auto; }
  .slide input {
    display: none; }

#prev-a, #next-a {
  width: 24px;
  height: 46px;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: center;
  cursor: pointer; }
  #prev-a:hover, #next-a:hover {
    opacity: 0.5; }

#prev-a {
  margin-right: 60px; }

#next-a {
  margin-left: 60px; }

.buttons {
  width: 100%;
  max-width: 850px;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin: 20px auto 20px auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .buttons button {
    min-width: 182px;
    min-height: 52px;
    background-color: #3ebdff;
    color: white;
    font-size: 31px;
    line-height: 33px;
    font-weight: bold;
    -webkit-border-radius: 25px;
            border-radius: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .buttons button:disabled {
      background-color: #39ef99;
      opacity: 1 !important;
      color: #222; }
      .buttons button:disabled:hover {
        opacity: 1 !important; }
    .buttons button:hover {
      opacity: 0.7; }
