extends base.html

block head 
  title CryptoRace
  link(rel="stylesheet" href="/static/libs/ion.rangeSlider.css")
  link(rel='stylesheet', href='/static/css/criptorace.css')
    
  
block script
  script(src='/static/js/picker.js')
  script(src='/static/js/ion.rangeSlider.js')

block content
  div.main-content
    //- section.section1
      div.content
        div.nav-bar
          a(href="#")
            //- img(src="/static/img/LOGO.png")
          div.nav-link
            a(href="#") SIGN IN
            span |
            a(href="#") REGISTRATION
            span |
            a(href="#") CONTACT US
            a(href="#").search
              img(src="/static/img/SEARCH.png") 
    section.section2
      div.content
        div.pump
          div.pump-title
            div.pump-title-top
              img(src="/static/img/RACER.png").pump-title-top-img
              a(href='{% if user.is_authenticated %}/game/{% else %}/customer/login/{% endif %}')
                button.start START           
            div.pump-main 
              .overlay-title-pump
                div.title
                  img(src="/static/img/wrench.png")
                  span.title-choose CHOOSE AN AUTO & PUMP IT
                .text
                  .title-text TIME BECOME A CRYPTORACER
                  .text-block Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.
              .supercar-img
                img(src='/static/img/SUPERCAR.png')
    section.section3
      div.content
        img(src="/static/img/wrench2.png") 
        div.track-title CHOOSE OR CREATE<br/>YOUR <span>OWN TRACK</span> AND<br/>INVITE FRIENDS
        img(src="/static/img/waymark.png") 
    section.section4
      div.content
        div.track-block
          div.track-block-img
            img(src="/static/img/map1.png", width="216", height="136")
          div.track-block-text TIME UNTIL THE END <span>15 MIN</span>  
          a.track-block-look(href='/game/')
            img(src="/static/img/look.png")
            span LOOK
        div.track-block
          div.track-block-img
            img(src="/static/img/map2.png", width="312", height="97")
          div.track-block-text TIME UNTIL THE END <span>15 MIN</span>  
          //- button.track-block-look
            img(src="/static/img/look.png")
            span LOOK
          a.track-block-join(href='/game/') <img src="/static/img/plus.png">JOIN
        div.track-block
          div.track-block-img
            img(src="/static/img/work_mark.png", width="98", height="98")
          div.track-block-text TIME UNTIL THE END <span>15 MIN</span>  
          a.track-block-build(href='/game/create/')
            img(src="/static/img/hammer_wrench.png")
            span BUILD
    section.section5
      div.content
        img(src="/static/img/cryptofuel.png").cryptofuel
        div.line-picker-block
          div.title
            img.small-icon(src="/static/img/fuel-icon.png")
            span FILL THE CAR
          div.line-picker
            div.line-picker-el
              div.line-picker-el-name BITCOIN
              img(src="/static/img/line-picker1.png").line-picker-el-img
              span.line-picker-el-percentages 5%
            div.line-picker-el.ETH
              div.line-picker-el-name ETHEREUM
              img(src="/static/img/eth-line.png").line-picker-el-img
              span.line-picker-el-percentages 25%
            div.line-picker-el.XRP
              div.line-picker-el-name RIPPLE
              img(src="/static/img/xpr-line.png").line-picker-el-img
              span.line-picker-el-percentages 35%
            div.line-picker-el.BCH
              div.line-picker-el-name BTC CASH
              img(src="/static/img/btc-line.png").line-picker-el-img
              span.line-picker-el-percentages 15%
            div.line-picker-el.LTC
              div.line-picker-el-name LITECOIN
              img(src="/static/img/ltcn-line.png").line-picker-el-img
              span.line-picker-el-percentages 20%
    section.section6
      div.content
        div.title
          img(src="/static/img/coins.png")
          span MAKE A BET
        div.bet-block
          div.bet-block-el.gold
            span.list-dotted 1
            span.bet-block-el-name LEIMAN
            div.dotted-line 
              img(src="/static/img/mini-car.png")
            button.bet-block-el-bet BET
          div.bet-block-el
            span.list-dotted 2
            span.bet-block-el-name ROMBROMB
            div.dotted-line 
              img(src="/static/img/mini-car.png")
            button.bet-block-el-bet BET
          div.bet-block-el
            span.list-dotted 3
            span.bet-block-el-name ROCKSTAR228
            div.dotted-line 
              img(src="/static/img/red-skin.png")
            button.bet-block-el-bet BET
        
        div.title
          img(src="/static/img/arrow.png")
          span RATING
        div.first3
          div.first3-el
            div.place <span class="place-number">1</span>ST
            img(src="/static/img/car-rating.png").first3-el-img
            span.first3-el-name BOOMER
            span.first3-el-score 3560156
          div.first3-el
            div.place <span class="place-number">2</span>ND
            img(src="/static/img/car-rating.png").first3-el-img
            span.first3-el-name BOOMER
            span.first3-el-score 3560156
          div.first3-el
            div.place <span class="place-number">3</span>RD
            img(src="/static/img/car-rating.png").first3-el-img
            span.first3-el-name BOOMER
            span.first3-el-score 3560156
        div.other.second-type
          div.other-el
            span.list-dotted 4
            img(src="/static/img/mini-car.png")
            span.other-el-name LEIMAN 
            div.dotted-line 
            span.other-el-score 250691
          div.other-el
            span.list-dotted 5
            img(src="/static/img/red-skin.png")
            span.other-el-name ROMBROMB 
            div.dotted-line 
            span.other-el-score 250691
          div.other-el
            span.list-dotted 6
            img(src="/static/img/mini-car.png")
            span.other-el-name ROCKSTAR228 
            div.dotted-line 
            span.other-el-score 250691
    section.section7
      div.content
        div.project-name CRYPTO RACE ®
        div.footer-link-group
          a(href="#") Contacts
          span |
          a(href="#") Terms of Use
          span |
          a(href="#") Privacy Policy
        div.footer-info
          span © 2018 All rights Reserved <br/>Any other major information put here
          div.footer-info-soc
            a(href="#") 
              img(src="/static/img/fb.png")
            a(href="#")
              img(src="/static/img/ig.png")
            a(href="#")
              img(src="/static/img/tw.png")   




  //- <!-- <input id='bcc' type="text" class="example" name="example_name" value="" />
  //- bcc<input class="bcc input" value="0" /> -->


//- {% endblock %}
