{% load staticfiles bootstrap4 %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'libs/floating-labels.css' %}">
    <link rel="stylesheet" href="/static/libs/ion.rangeSlider.skinHTML5.css">
    <link rel="icon" type="image/svg" href="/static/img/C.svg" />
    <link rel="apple-touch-icon" href="/static/img/C.svg"/>
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-black ">
      <div class="container">
          <a class="navbar-brand" href="/">
            <img src="/static/img/LOGO.png">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse navbar-right" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/game/">Search race</a>
              </li>
          {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="/game/create/">Create race</a>
              </li>
              {% if DEMO %}
              <li class="nav-item">
                <a class="nav-link" href="/game/create/?demo=1">Create race (DEMO MODE)</a>
              </li>
              {% endif %}
              <li class="nav-item">
                  <a class="nav-link" href="/customer/profile/">{{ user.customer }} ({{ user.customer.balance|floatformat }} ETH)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/customer/logout/">Logout</a>
              </li>
          {% else %}
              <li class="nav-item">
                <a class="nav-link" href="/customer/login/">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/customer/signup/">Sign up</a>
              </li>
          {% endif %}
            </ul>
          </div>
      </div>
    </nav>
    <div class="container-fluid">
    <div class="container">{% bootstrap_messages %}</div>
    {% block content %}
    {% endblock %}
    <!-- <div class="container d-flex justify-content-center align-items-center fot-nova">
      <span> Developed by &nbsp;</span> <a target="_blank" class="nova" href='https://новавеб.рф/'>НоваВеб.РФ</a>
    </div> -->
    </div>

    {% bootstrap_jquery %}
    <script
			  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
			  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
			  crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous">
    </script>
    {% bootstrap_javascript %}
    <script src="{% static 'js/validation.js' %}"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    {% block script %}{% endblock %}

  </body>
</html>
