
body{
  margin: 0;
  padding: 0;
  background-color: black;
  // background: url('/static/img/BG.png');
  background-size: cover;
  font-family: ProximaNova;
  background-size: 100%;
}

// ::after, ::before {
//     box-sizing: content-box !important;
// }

.pump-main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .overlay-title-pump{
    width: 100% !important;

    .text{
      padding-left: 15px;
    }

    .title-text{
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .text-block{
      font-size: 15px;
      font-weight: 400;
    }

    .text{
      max-width: 65% !important;
    }
  }

  .title{
    padding-right: 0 !important;
    margin-right: 0 !important;
  }

  .supercar-img{
    width: 300px;
    position: relative;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 500px;

    img{
      width: 550px;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
// .main-content{
//   margin-top: 132px;
// }
// .nav-bar{
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   .nav-link{
//     white-space: nowrap;
//     a{
//       margin-right: 15px;
//       color: white;
//       text-decoration: none;
//     }
//     span{
//       margin-right: 15px;
//       color: white;
//     }
//     a:last-child{
//       margin-right: 0px;
//     }
//     a.search{
//       margin-left: 18px;
//     }
//   }
// }
section{
  width: 100%;
  .content{
    max-width: 1308px;
    margin: 0 auto;
  }
}
.section1{
  background-color: #0a0a0b;
}
.section1{
  .content{
    padding: 34px 168px;
  }
}
.section2{
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/Map2.png);
    background-position-y: -20px;
    background-repeat: no-repeat;
  }
  .title{
    margin-right: 15px;
  }
}
.start{
  color:  #51f6ff;
  font-size: 42px;
  font-weight: 700;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 346px;
  height: 97px;
  text-align: center;
  border-radius: 100px;
  background-color:  rgba(0, 0, 0, 0.39);
  margin-top: 62px;
  margin-left: 45px;
  border: none;
  text-shadow: 0px 0px 20px #3ebdff;
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.3);

  &:hover{
    box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.3);
  }
}
.pump{
  width: calc(100% - 195px);
  padding-left: 60px;
}
.pump-title{
  margin-top: 320px;
}
.pump-title-top{
  display: flex;

  a{
    &:hover{
      text-decoration: none;
    }
  }
}
.pump-title-top-img{
  margin-bottom: 20px;
}
.title{
  font-family: ProximaNova-BoldItalic;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 74px;
  img{
    margin-right: 22px;
  }
  span{
    font-family: ProximaNova-BoldItalic !important;
    padding: 12px 121px 12px 32px;
    color: #111112;
    font-size: 30px;
    background-image: url(../img/flag.png);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #ffc50a;
    background-size: auto 100%;
    background-repeat: no-repeat;
    width: calc(100% - 30px);
    margin-right: 30px;
    text-align: center;
    white-space: nowrap;
    line-height: 22px;
  }
}
.title-choose{
  max-width: 628px;
}
.section3{
  .content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(../img/ROAD-index.png);
    height: 226px;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.track-title{
  color: white;
  text-align: center;
  margin-left: 19px;
  margin-right: 31px;
  font-size: 30px;
  font-weight: bold;
  span{
    color: #ffc50a;
  }
}
.section4{
  margin-bottom: 95px;
  .content{
    display: flex;
    justify-content: space-between;
    padding: 60px 200px 0 200px;
  }
}
.track-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}
.track-block:last-child{
  margin-right: 0px;
}
.track-block-img{
  height: 136px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.track-block-text{
  color:  #4d627d;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
  width: 150px;
  span{
    color:  #35baeb;
  }
}
.track-block-look, .track-block-join, .track-block-build{
  border-radius: 100px;
  border: none;
  color:  #19191b;
  font-size: 18px;
  font-weight: 900;
  display: flex;
  align-items: center;
  padding: 0 25px 0 13px;
  height: 35px;
  cursor: pointer;
  img{
    margin-right: 9px;
  }

  &:hover{
    text-decoration: none;
    color: #19191b;
  }
}
.track-block-look{
  background-color:  #ffc50a;
  margin-bottom: 5px;
}
.track-block-join{
  color: white;
  background-color: #f8682f;

  &:hover{
    text-decoration: none;
    color: white;
  }
}
.track-block-build{
  background-color:  #35baeb;
}
.section5{
  .content{
    display: flex;
    padding: 0 140px 0 140px;
    margin-bottom: 70px;
  }
}
.cryptofuel{
  margin-right: 34px;
  width: 320px;
  flex-shrink: 0;
}
.line-picker-block{
  width: 100%;
}
.line-picker-el{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: center;
}
.line-picker-el-name{
  color:  #ffffff;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 600;
  width: 150px;
  display: inline-block;
}
.line-picker-el-img{
    width: 441px;
    height: 54px;
    margin-right: 48px;
    max-width: 500px;
}
.line-picker-el-percentages{
  color:  #d7d7d7;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  border-radius: 15px;
  border-width: 1px;
  border-color:  #000000;
  border-style: solid;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25098) 0%, rgba(0, 0, 0, 0.501961) 100%);
  width: 86px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.section6{
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 140px 0 140px;
  }
}
.list-dotted{
  border-radius: 50%;
  border-width: 1px;
  border-color:  #000000;
  border-style: solid;
  background-color:  #ffffff;
  color:  #121214;
  font-size: 20px;
  font-weight: 900;
  margin-right: 24px;
  width: 29px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.bet-block{
  width: 100%;
  margin-bottom: 100px;
}
.bet-block-el{
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;

  &.gold{

    .dotted-line {
      background: url('../img/dotted-line-gold.png') 10% 75% repeat-x !important;
    }

    .list-dotted{
      background-color: #ffc50a;
    }

    .bet-block-el-name{
      color: #ffc50a;
    }

    button{
      background-color: #ffc50a;
    }

  }
}
.bet-block-el-name{
  color:  #ffffff;
  font-size: 18px;
  font-weight: 600;
  margin-right: 20px;
}
.bet-block-el-bet{
  border-radius: 15px;
  border-width: 1px;
  border-color:  #000000;
  border-style: solid;
  background-color:  #ffffff;
  width: 131px;
  height: 33px;
  color:  #0a0a0a;
  font-size: 18px;
  font-weight: 900;
  margin-left: 25px;
  flex-shrink: 0;


}
.dotted-line {
  position: relative;
  height: 39px;
  width: 100%;
  background: url('../img/dotted-line.png') 10% 75% repeat-x;

  img{
    position: absolute;
    right: 400px;
    width: 76px;
    height: 39px;
  }
}
.first3{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 40px;
}
.first3-el{
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  align-items: center;
}
.first3-el:last-child{
  margin-right: 0px;
}
.place{
  color: white;
  margin-left: 40px;
  font-size: 30px;
  width: 100%;
  font-weight: bold;

  .place-number{
    color: #ffc50a;

  }
}
.first3-el-img{
    margin-bottom: 20px;
    width: 100%;
    max-width: 280px;
}
.first3-el-name{
  color:  #ffffff;
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
}
.first3-el-score{
  color:  #3ebdff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 15px;
  border-width: 1px;
  border-color:  #000000;
  border-style: solid;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25098) 0%, rgba(0, 0, 0, 0.501961) 100%);
  width: 131px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.other{
  width: 100%;

  &.second-type{

    .other-el-name{
      margin-right: 5px;
    }

    img{
      margin-right: 17px;
      width: 76px;
      height: 40px;
    }
  }
}
.other-el{
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.other-el-name{
  color: white;
  margin-right: 20px;
  font-weight: bold;
}
.other-el-score{
  color:  #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  border-radius: 15px;
  border-width: 1px;
  border-color:  #000000;
  border-style: solid;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25098) 0%, rgba(0, 0, 0, 0.501961) 100%);
  width: 133px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 14px;
  flex-shrink: 0;
}
.section7{
  border-color: black;
  .content{
    padding: 110px 140px 20px 140px;
  }
}
.project-name{
  color:  #ffffff;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}
.footer-link-group{
  margin-bottom: 24px;
}
.footer-link-group>a, .footer-link-group>span{
  color:  #ffffff;
  font-size: 16px;
  font-weight: 600;
  margin-right: 15px;
  text-decoration: none;
}
.footer-info{
  color:  #ffffff;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.25;
  display: flex;
  justify-content: space-between;
}
.footer-info-soc{
  >a{
    margin-right: 26px;
  }
  >a:last-child{
    margin-right: 0px;
  }
}
// @media(max-width:1080px){
//   .cryptofuel{
//     display: none;
//   }
//   .section4{
//     margin-bottom: 45px;
//     .content{
//       flex-direction: column;
//     }
//   }
//   .track-block{
//     margin-bottom: 30px;
//   }
//   .track-block:last-child{
//     margin-bottom: 0px;
//   }
//   .track-block-img{
//     height: auto;
//     margin-bottom: 10px;
//   }
//   .track-block-text{
//     margin-bottom: 10px;
//   }
//   .pump{
//     padding: 0px;
//   }
//   .pump-title-top-img{
//     display: none;
//   }
//   .start{
//     margin: 62px auto 0 auto;
//   }
//   .section2{
//     .content{
//       background-position-x:center;
//     }
//   }
//   .pump-title-top{
//     margin-bottom: 75px;
//   }
//   .section1{
//     .content{
//       padding: 34px 40px;
//     }
//   }
//   .section5, .section6, .section7{
//     .content{
//       padding: 0 40px;
//     }
//   }
// }


// @media(max-width:800px){
//   .first3{
//     flex-direction: column;
//   }
//   .section5, .section6{
//     .content {
//       padding: 0 40px;
//     }
//   }
//   .section7{
//     .content {
//       padding: 30px 40px 30px 40px;
//     }
//   }
//   .place{
//     margin-left: 40%;
//   }
//   .track-title{
//     font-size: 22px;
//
//   }
//   .title{
//     span{
//       font-size: 22px;
//       background-image: none;
//       white-space: normal;
//       padding-right: 32px;
//     }
//   }
// }
.small-icon{
  width: 40px; height: 40px;
}

.ETH{
  *{color: #39ef99;}
}

.XRP{
  *{color: #41e6ff;;}
}

.BCH{
  *{color: #ffc50a;}
}

.LTC{
  *{color: #d7d7d7;}
}
