$image-path: 'static/img' !default;
$type: '.png' !default;

@mixin coin-color($color, $name, $logo-name) {
  .cointype.#{$name} {

    .input-coin-hands{
      color: $color;

      input{
        color: $color;

      }
    }

      .coin-code{
        color:$color;
      }

      .irs-bar, .irs-bar-edge{
        background: $color;
        border-color: $color;
        box-shadow: 0px 0px 13px -2px $color;
      }
      .irs-slider.single{
        background-color: $color;
        // &::after{
        //   content: url('/static/img/coin-logo/#{$logo-name}-small-logo.png');
        //   width: 20px;
        //   height: 20px;
        // }
        background-image: url('/static/img/coin-logo/#{$logo-name}.png');

      }
    }
}

.cointype {
    .coin-code{
      font-size: 18px;
      font-weight: 600;
      width: 60px;
    }
    .irs-slider.single{
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: -5px 0px 0.96px 0.04px rgba(12, 10, 10, 0.49);

      // &::after{
      //   content: url('/static/img/coin-logo/#{$logo-name}-small-logo.png');
      //   width: 20px;
      //   height: 20px;
      // }
      // background-size: 20px 20px;
      background-size: 41px 41px;
      background-position: center right;
      background-repeat: no-repeat;
    }
  }

body{
  @include  coin-color(#ffffff, btc-cointype, btc);
  @include  coin-color(#41e6ff, xrp-cointype, xrp);
  @include  coin-color(#3593eb, dash-cointype, dash);
  @include  coin-color(#39ef99, eth-cointype, eth);
  @include  coin-color(#ffc50a, bch-cointype, bch);
  @include  coin-color(#d7d7d7, ltc-cointype, ltc);
  @include  coin-color(#96d006, neo-cointype, neo);
  @include  coin-color(#464646, iota-cointype, iota);
  @include  coin-color(#ff6600, xmr-cointype, xmr);
  @include  coin-color(#ff6600, xlm-cointype, xlm);
  @include  coin-color(#464646, eos-cointype, eos);
  @include  coin-color(#327aff, ada-cointype, ada);
}

.cointype{
  width: 450px;
  margin: auto;

  .flex-position{
    display: flex;
    align-items: center;
  }

  .input-coin-hands{
    border-radius: 16px;
    border-width: 1px;
    border-color:#000000;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.25098) 0%, rgba(0, 0, 0, 0.9) 100%);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
    width: 59px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;

    input{
      margin-right: 2px;
      height: 21px;
      padding: 0 !important;
      background: transparent;
      font-size: 15px;
      font-weight: 700;
      border: none;
      width: 30px;
      max-width: 30px !important;
      text-align: right;
      // transform: scaleX(1.0024);
      text-shadow: 0px -2px 0px rgba(0, 0, 0, 0.67);
    }
    // span{
    //   width: 50%;
    // }
  }

  .irs{

  }
  .irs-line{
  background: rgba(0, 0, 0, 0.5);
  border: none;
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.3)}
}
.isHidden{
  display: none;
}
.overlay-slider-rage{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.irs{
  width: 243px;
}
#id_percentages,label[for='id_percentages']{
  display: none;
}

.user-fuel-block{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  .text{
    max-width: 350px;
    margin-left: 10px;
    font-size: 15px;
  }
}

.content-flex{
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;

    .overlay-for-btn{
      margin-top: 40px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      button{
        background-color: rgb(255, 75, 5);
        padding: 12px 48px;
        font-size: 30px;
        font-weight: bold;
        border-radius: 40px;
        border: none;
        color: white;
        margin-right: 20px;
      }
      a{
        // padding: 12px 48px;
        font-size: 30px;
        font-weight: bold;
        color: white;

        img{
          height: 38px;
        }
      }
    }

    .title-fuel-block{
      display: flex;
      align-items: flex-start;
      margin-bottom: 25px;

      img{
        width: 34px;
        margin-right: 10px;
      }

      span{
        color:#ffc50a;
        font-size: 30px;
        font-weight: 600;
      }
    }

    .img-barel{
      width: 330px;

      img{
        width: 100%;
      }
    }
}

#join-form_js{
  max-width: 900px;
  margin:  0 auto;
}
