h2{
  text-align: center;
}
.center-flex{
  display: flex;
  justify-content: center;
}
.content-reg{
  max-width: 600px;
}

.row{

  .form-check{



    label{
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      .chec-custom{
          margin: 0 1px;
          width: 25px;
          background-clip: padding-box;
          height: 25px;
          border-radius: 100%;
          border: 5px solid rgba(63, 63, 63, 0.31);
          box-sizing: border-box;
          background-color: #000000;
          margin-right: 10px;
      }
    }

    input{
      display: none;
    }
    input:checked + label{

      .chec-custom{
        background-color: #eb4605;
      }
    }
  }
}

.form-group{

.input-group-text{
  color: #7c858d;
  background-color: #000;
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.4) !important ;
  border: none !important;
  height: 33px;
}

.input-group-prepend,.input-group-text{
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}

  input, select{
    width: 100%;
    font-weight: 600;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    box-sizing: border-box;
    color: #ffc50a;
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.4);
    height: 33px;
    background-color: #000;
    padding: 0 20px;

    &:focus{
      background-color: #111;
      color: #ffc50a;
      border-color: #ffc50a;
      box-shadow: 0 0 0 .2rem rgba(255,197,10,0.25);
    }
  }
}
.btn-yellow{
  // background: #ffc50a;
  // color: black;
  // margin: 0 auto;
color: #51f6ff;
font-size: 42px;
font-weight: 700;
line-height: 21px;
display: flex;
align-items: center;
justify-content: center;
min-width: 346px;
height: 97px;
text-align: center;
border-radius: 100px;
background-color: rgba(0, 0, 0, 0.39);
margin-top: 62px;
border: none;
text-shadow: 0px 0px 20px #3ebdff;
box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.3);

&:hover {
    box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.3);
}

  // &:focus{
  //   box-shadow: 0 0 0 .2rem rgba(90,91,01,0.65) !important;
  // }
}

.for-label{
  // max-width: 400px;
  // margin:  0 auto;

  label{
    text-transform: uppercase;
    color: #6c757d;
  }
}

.margin-bottom-20{
    margin-bottom: 60px;
}
