@font-face {
  font-family: 'ProximaNova';
  src: url('/static/fonts/ProximaNova-Regular.eot');
  src: url('/static/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('/static./fonts/ProximaNova-Regular.woff') format('woff'),
  url('/static/fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('/static/fonts/ProximaNova-Bold.eot');
  src: url('/static/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('/static./fonts/ProximaNova-Bold.woff') format('woff'),
  url('/static/fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-BoldItalic';
  src: url('/static/fonts/ProximaNova-BoldIt.eot');
  src: url('/static/fonts/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
  url('/static/fonts/ProximaNova-BoldIt.woff') format('woff'),
  url('/static/fonts/ProximaNova-BoldIt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, html{
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
body{
  font-family: ProximaNova;

  *{
    font-family: ProximaNova;

  }
}

.bg-black{
  background: #0a0a0b;
}

h2{
  text-align: center;
}

.isClosed{
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
body{
  // padding: 70px 10px 30px 10px;
  background: url('/static/img/BG.png');
  background-size: contain;
  background-attachment: fixed;
  color: white;
  padding-bottom: 30px;
}
/* alert custom*/
.alert.custom{
}

form#send_transaktion{
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}
.qw{
  color: #fac;
}

.ava{
  background-size: cover;
  background-position: center;
  width: 77px; height: 77px;
  border-radius: 100%;
  border: 5px solid #fff;
}

.pagination{
  display: flex;
  justify-content: center;

  li.disabled{
    a{
      background: black !important;
      border-color: black !important;
      color: #707070 !important;
      box-shadow: 0px 0px 1px 1px inset rgba(255, 255, 255, 0.1) !important;
    }
  }

  li.active{

    a{
        background: #ffc50a !important;
        border-color: #ffc50a !important;
        color: black !important;
    }
  }

  a{
    background: black;
    border-color: black;
    color: #707070;
    box-shadow: 0px 0px 1px 1px inset rgba(255, 255, 255, 0.1);



    &:hover{
      background: black;
      border-color: black;
      color:    #35baeb;
    }

    &:focus{
      box-shadow: 0 0 0 .2rem rgba(90,91,01,0.65) !important;
    }
  }
}

.disabled{
  background: gray  !important;;
  pointer-events: none  !important;;
  cursor: default !important;
}

h1.title-yellow{
  transform: skewX(-10deg);
  color:  #131314;
  font-size: 30px;
  text-align: center;
  background-color:  #ffc50a;
  height: 49px;
  padding: 0 60px;
  display: inline-flex;
  align-items: center;
  margin:  30px 10px;;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
}

.fot-nova{
  margin: 30px auto 60px auto;

}
.nova{

  color: #78ff00;
  text-shadow:0 0 6px #76fa00;
   outline: none;

  &:hover{
    text-decoration: none;
    color: #78ff00;
    opacity: 0.7;
     outline: none;
  }
}

a{
  outline: none;
}
.hidden-xs-up{
  display: none;
}

.container{
  max-width: 1000px;
}

.navbar.navbar-expand-lg.navbar-dark{

  .container{
    max-width: 1200px;
  }
}



.section7, nav{
  a:hover{
    color:#ffc50a !important;
  }
}

.pagination .disabled{
  background: transparent !important;
}


#back-btn{
  width: 133px  !important;
  height: 38px !important;
  margin-right: auto;

  img{
    width: 100%;
    height: 100%;
  }
}

.green-join{
  color: #78ff00 !important;
  text-shadow:0 0 6px #76fa00 !important;
}
