.section4{
  .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.track-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  margin-bottom: 25px;
}
.track-block:last-child{
  margin-right: 0px;
}
.track-block-img{
  height: 136px;
  width: 216px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.track-block-text{
  color:  #4d627d;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 5px;
  width: 216px;

  &~a{
    margin: 10px;

    &.track-block-join:hover{
      color: white;
      text-decoration: none;
    }
    &.track-block-look:hover{
      color: black;
      text-decoration: none;
    }
  }

  span{
    color:  #35baeb;
  }
}
.track-block-look, .track-block-join, .track-block-build{
  border-radius: 100px;
  border: none;
  color:  #19191b;
  font-size: 18px;
  font-weight: 900;
  display: flex;
  align-items: center;
  padding: 0 25px 0 13px;
  height: 35px;
  cursor: pointer;
  img{
    margin-right: 9px;
  }
}
.track-block-look{
  background-color:  #ffc50a;
  // margin-bottom: 5px;

  &:hover{
    background: #f8682f;
    color: black;
    text-decoration: none;
  }
}
.track-block-join{
  color: white;
  background-color: #f8682f;
}
.track-block-build{
  background-color:  #35baeb;
}


.race-block{
  display: flex;
  flex-direction: column;
  // width: 482px;
  padding: 0 5px;


  .track-block-look{
    margin-left: auto;
  }

  .track-name{
    text-transform: uppercase;
    color:  rgba(255, 255, 255, 1);
    font-size: 30px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
  }

  .line-block{
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    &>span{
      border-radius: 50%;
      background-color:  #ffc50a;
      width: 29px;
      height: 29px;
      color:  #121214;
      font-size: 20px;
      margin-right: 14px;
      font-weight: 900;
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }
}

.line-dot{
  width: 100% !important;
  margin: 40px 0;
}

.info-race{
  border-radius: 15px;
  border-width: 1px;
  border-color:  #000000;
  border-style: solid;
  border-style: solid;
  border-width: 1px;
  border-color:  #000000;
  box-sizing: border-box;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25098) 0%, rgba(0, 0, 0, 0.501961) 100%);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
  padding:  0 10px 0 2px;
  display: flex;
  align-items: center;
  height: 33px;

    img{
      width: 21px;
      margin: 0 8px;
    }
  }
.track-block-join{
  margin-left: auto;
}

.track-length_js{
  width: 120px !important;
}

.white-title{
  background: white !important;
}
.track-block-join {

  &:hover{
    text-decoration: none;
    color: white;
    background: #52b936;
  }
}
