
.block-profile{
  display: flex;
  flex-wrap: wrap;
}

.col-xs-6{
  display: inline-flex;
  width: 45%;
  padding: 10px;
}

#send_transaktion{
  display: none;
}
.form-avatar{

  img{
    width: 300px;
  }
}
