@mixin coin-color($color, $name, $logo-name) {

  .coin-round.#{$name}{
    background-color: $color;
    background-image: url('/static/img/coin-logo/#{$logo-name}.png');
  }

}

body{
  @include  coin-color(#ffffff, btc-cointype, btc);
  @include  coin-color(#41e6ff, xrp-cointype, xrp);
  @include  coin-color(#3593eb, dash-cointype, dash);
  @include  coin-color(#39ef99, eth-cointype, eth);
  @include  coin-color(#ffc50a, bch-cointype, bch);
  @include  coin-color(#d7d7d7, ltc-cointype, ltc);
  @include  coin-color(#96d006, neo-cointype, neo);
  @include  coin-color(#464646, iota-cointype, iota);
  @include  coin-color(#ff6600, xmr-cointype, xmr);
  @include  coin-color(#ff6600, xlm-cointype, xlm);
  @include  coin-color(#464646, eos-cointype, eos);
  @include  coin-color(#327aff, ada-cointype, ada);
}


.container-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.racer-info-block{
  margin: auto;
  display: none;
  flex-direction: column;
  align-items: flex-start;

  &.active{
    display: inline-flex;
  }
}

.coin-round{
  background-size: 30px 30px;
  background-position: center right;
  background-repeat: no-repeat;
  border-radius: 100%;
  background-repeat: no-repeat;
  transform: skew(13deg);
  width: 25px; height: 25px;
}

.racers-title-overlay{
  display: flex;
  width: 270px;
  align-items: center;

  img{
    position: relative;
    left: -7px;
    height: 49px;
  }
}

.racers-title {
  padding: 0 25px 0 25px;
  background-color: #ffc50a;
  min-width: 221px;
  height: 49px;
	transform: skew(-13deg);
  color: #131314;
  font-size: 30px;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  font-weight: 900;
  position: relative;
}

.percent{
  font-size: 18px;
  margin: 0 13px;
}

.racers-name{
  text-transform: uppercase;
  background-color: #ffffff;
  transform: skew(-13deg);
  color: #000;
  height: 49px;
  display: flex;
  align-items: center;
  padding-left: 73px;
  position: relative;
  padding-right: 42px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 30px;
  position: relative;
  z-index: 11;

  img{
    width: 65px; height: 22px;
    transform: skew(13deg);
    margin-right: 14px;
  }


  .race-avatar{
    transform: skew(13deg);
    left: -17px;;
    position: absolute;
    box-shadow: 6px 0px 3px 0px rgba(60, 59, 59, 0.47);
  }

  span{
    color: #f8682f;
  }
}

.racers-status{
  padding: 5px 40px 5px 50px;
  box-sizing: border-box;
  transform: skew(-13deg);
  z-index: 10;
  position: relative;
  left: -4px;
  background-color: #000000;
  min-width: 624px;
  height: 36px;
  display: flex;
  align-items: center;
  border-radius: 0 0 0 90px;
  font-size: 22px;
  font-weight: 700;

  .ps{
    color: #fff200;
    margin-right: 32px;
  }

  .score{
    color: #fff;
    margin-right: 17px;
  }

  .place{
    color: #fff;

    span{
      color:#ffc50a;
    }
  }

  .arrow{
    color:#8dc73f;
    font-size: 35px;
    font-weight: 900;
    margin-right: 29px;
  }

  .border-shape{
    opacity: .5;
    height: 19px;
    background: #fff;
    width: 1px;
    margin-right: 21px;
  }
}

.road-block{
  position: relative;
  width: 100%;
  max-width: 1518px;
  height: 359px;
  display: flex;align-items: center;
  justify-content: center;
  // background-image: url('/static/img/Finish.png'), url('/static/img/ROAD.png');
  // background-size: 40px 251px, 100% 100%;
  // background-position: 90%  center,  center;
  // background-repeat: no-repeat;
  background-image: url('/static/img/road-race.png');
  background-size:  1000px 100%;
  background-position:   center;
  background-repeat: no-repeat;

  .timer-start{
    z-index: 20;
    position: relative;
    border-style: solid;
    border-width: 7px;
    border-radius: 40px;
    border-color:rgba(63, 63, 63, .4);
    background-color:#000000;
    box-shadow: 0px 6px 23.04px 0.96px rgba(3, 0, 0, 0.82);
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 5px 15px;
    width: 270px;
    height: 90px;
    display: flex;
    margin-left: 220px;

    .circ-count-overlay{
      bottom: -20px;
      left: 0;
      position: absolute;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .text{
      font-size: 18px;
    }

    .circ-count{
      margin: 0 1px;
      width: 30px;
      background-clip:padding-box;
      height: 30px;
      border-radius: 100%;
      border: 5px solid rgba(63, 63, 63, .31);
      box-sizing: border-box;
      background-color:#000000;

      &.second{
        span{
          background-color: yellow;
          box-shadow: 0 0 4px .2px yellow;
        }
      }

      span{
        display: flex;
        border-radius: 50%;
        background-color:#eb4605;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 4px .2px #eb4605;
      }
    }

    .time{
      color:#76fa00;
      font-size:30px;
      font-weight: 400;
      line-height: 30px;
    }

    img{
      width: 43px;
    }
  }



  &.not-start{
    background-image: url('/static/img/Finish.png'), url('/static/img/START.png'),  url('/static/img/ROAD.png');
    background-size: 40px 251px, 10px 251px, 100% 100%;
    // background-size: auto, contain;
    background-position: 90%  center, 605px  center , center;
    background-repeat: no-repeat;

  .position{
      background-repeat: no-repeat;
      background-position: left top, right bottom;
      background-size: contain, 45px 45px;


    &.position-1{
      left: 450px;
    }
    &.position-2{
      top: inherit;
      bottom:  74px;
      left: 450px;
    }
    &.position-3{
      left: 280px;
    }
    &.position-4{
      bottom:  74px;
      top: inherit;
      left: 280px;
    }
    // &.position-5{
    //   top: inherit;
    //   bottom:  74px;
    //   left: 110px;
    // }
}



.position-fake{
    position: absolute;
    background-repeat: no-repeat;
    background-position: center, right bottom;
    background-size: 22px 42px, 45px 45px;
    width: 139px;
    top: 74px;
    height: 75px;

  &.position-1{
    left: 450px;
    background-image:url("/static/img/01.png"), url("/static/img/ret.png");

  }
  &.position-2{
    background-image:url("/static/img/02.png"), url("/static/img/ret.png");
    top: inherit;
    bottom:  74px;
    left: 450px;
  }
  &.position-3{
    background-image:url("/static/img/03.png"), url("/static/img/ret.png");
    left: 280px;
  }
  &.position-4{
    top: inherit;
    background-image:url("/static/img/04.png"), url("/static/img/ret.png");
    bottom:  74px;
    left: 280px;
  }
  // &.position-5{
  //   top: inherit;
  //   bottom:  74px;
  //   left: 110px;
  // }
}




  }


  .position{
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation-iteration-count: infinite;
    // background-color: rgba(200,100,100,.2);
    cursor: pointer;
    top: 74px;
    width: 139px;
    height: 75px;

    .hint{
      min-width: 120px;
      height: 37px;
      padding: 2px 4px;
      text-align: center;
      background-color: #131314;
      box-sizing: border-box;
      border: 4px solid #333;
      border-radius: 15px;
      position: absolute;
      top: -45px;
      left: 8px;

      &.active{
        border-color: rgb(69,248,153);
        box-shadow: 0px 0px 8px 1px  rgba(69,248,153, .6);

        &::before{
          content:' ';
          border-top: 20px solid rgb(69,248,153);
        }

      }

      &::before{
        content:' ';
        // width:5;
      	// height: 5;
      	border-left: 10px solid transparent;
      	border-right: 10px solid transparent;
      	border-top: 20px solid #333;
        position: absolute;
        bottom: -20px;
        left:47px;
      }

      &::after{
        content:' ';
        // width:5;
      	// height: 5;
      	border-left: 6px solid transparent;
      	border-right: 6px solid transparent;
      	border-top: 12px solid #131314;
        position: absolute;
        bottom: -12px;
        left:51px;
      }
    }

    &.position-1{
      animation-name: spin1;
      right: 340px;
      right: 440px;
      animation-timing-function: cubic-bezier(0.42,0,0.58,1);
      animation-duration: 6000ms;

    }
    &.position-2{
      animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
      animation-duration: 3000ms;
      animation-name: spin2;
      top: inherit;
      bottom:  74px;
      right: 420px;
      right: 520px;
    }
    &.position-3{
      animation-name: spin3;
      right: 640px;
      right: 740px;
      animation-duration: 4000ms;
    }
    &.position-4{
      animation-name: spin4;
      animation-duration: 7000ms;
      right: 850px;
      right: 900px;
      bottom:  74px;
      top: inherit;
    }
    // &.position-5{
    //   top: inherit;
    //   bottom:  74px;
    //   right: 900px;
    // }
  }
}


.race-info-block{
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 800px;

  .eth-coin{
    background-image: url('/static/img/coin-logo/eth.png');
    width: 35px;
    height: 35px;
    background-color: #39ef99;
    background-position: center right;
    background-size:39px 39px;
    border-radius: 100%;
    position: relative;
    right:-20px;
  }

  .field-race-info-title{
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-right: 20px;
    font-weight: 700;

    &.grey{
      color:#707070;
    }
  }

  .button{
    border-radius: 25px;
    background-color: #ffc50a;
    width: 240px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#131314;
    font-size: 30px;
    font-weight: 900;
  }

  .title-race-info{
    color:#ffc50a;
    font-size: 30px;
    font-weight: 600;
  }

  .content-race-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .field-race-info{
      display: flex;
      flex-direction: column;

    }

    .field-race-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .info-race-info{
      display: flex;
      align-items: center;
      font-weight: 600;
      border-radius: 15px;
      border-style: solid;
      border-width: 1px;
      border-color: #000000;
      box-sizing: border-box;
      box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
      height: 33px;
      background-color: #000;
      padding: 0 20px;

      &.long{
        width: 240px;
      }


      span.green{
        color: #78ff00;
        font-size: 17px;
        font-weight: 600;
        margin-right: 7px;
      }
      span{
        font-weight: 600;
        font-size: 21px;
        margin-right: 5px;
        color:  #ffffff;
      }
      div{
        font-size: 17px;color:#707070;
      }
    }
  }
}
.hidden-xs-up{display: none !important}

.green-shadow{
  text-shadow:0 0 6px #76fa00;
}
.finished-block{
  margin-bottom: 30px;
}

@keyframes spin1 {
    0% {
        right: 410px;
    }
    50% {
        right: 470px;
    }
    100% {
        right: 410px;
    }
}

@keyframes spin2 {
    0% {
      bottom:  74px;
      right: 550px;
    }
    36% {
        bottom:  74px;
        right: 520px;
    }
    100% {
        bottom:  74px;
        right: 550px;
    }
}

@keyframes spin3 {
    0% {
      right: 740px;
    }
  69% {
        right: 880px;
    }
    100% {
        right: 740px;
    }
}

@keyframes spin4 {
    0% {
      right: 940px;
    }
    26% {
        right: 890px;
    }
    100% {
        right: 940px;
    }
}

//
// &.position-1{
//   animation-name: spin1;
//   right: 340px;
// }
// &.position-2{
//   animation-name: spin2;
//   top: inherit;
//   bottom:  74px;
//   right: 420px;
// }
// &.position-3{
//   animation-name: spin3;
//   right: 540px;
// }
// &.position-4{
//   animation-name: spin4;
//   right: 750px;
// }
// &.position-5{
//   top: inherit;
//   bottom:  74px;
//   right: 900px;
// }


.tree1{
  width: 200px;
  position: absolute;
  bottom: -70px;
}
.tree2{
  width: 180px;
  position: absolute;
  top: -70px;
}

.tree3:not(.false){
  width: 80px;
  position: absolute;
  top: 10px;
  right: 10%;
  animation-name: tree3;
  animation-duration: 20000ms;
  animation-iteration-count: infinite;
  animation-timing-function:  linear;
}

.tree1{
    animation-name: tree1;
    animation-duration: 9000ms;
    animation-iteration-count: infinite;
    animation-timing-function:  linear;
    z-index: 2000000;
}

.tree2{
    animation-name: tree1;
    animation-duration: 9000ms;
    animation-iteration-count: infinite;
    animation-delay: 4s;
    right: -300px;
    animation-timing-function:  linear;
}

.road-block:not(.not-start){
    animation-name: road;
    animation-duration: 9000ms;
    animation-iteration-count: infinite;
    animation-timing-function:  linear;
    background-repeat: repeat !important;
}

@keyframes road {
  0% {
  background-position: 0px;

  }
  // 50% {
  //   background-position: 50px;
  // }
  100% {
    background-position: -1000px;
  }
}



@keyframes tree1 {
  0% {
  right: -300px;

  }
  // 50% {
  //   background-position:90%  center, 50px;
  // }
  100% {
    right: 2030px;

  }
}

@keyframes tree3 {
  0% {
  right: -10%;

  }
  // 50% {
  //   background-position:90%  center, 50px;
  // }
  100% {
    right: 120%;

  }
}

.road-wrapper{
  height:440px;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 1518px;
  display: flex;
  align-items: center;
}

.top-place{
  font-size: 30px;
  color: #78ff00 !important;
}
