
#slider{
    width: 940px;
    height: auto;
    margin: 0 auto;
}

.slide{
  width:940px;
  height: auto;
  display: flex;
  box-sizing: border-box;
  padding: 10px;

  &.check{

    .active{
      
    }
  }

  img{
    width: 920px;
    height: auto;
  }

  input{
    display: none;
  }
}

#prev-a, #next-a{
  width: 24px;
  height: 46px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;

  &:hover{
    opacity: 0.5;
  }
}

#prev-a{
  margin-right: 60px;
}

#next-a{
  margin-left: 60px;
}

.buttons{
  width: 100%;
  max-width: 850px;
  justify-content: space-around;
  margin: 20px auto 20px auto;
  align-items: center;

  button{
    min-width: 182px;
    min-height: 52px;
    background-color: rgb(62, 189, 255);
    color: white;
    font-size: 31px;
    line-height: 33px;
    font-weight: bold;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:disabled{
      background-color: #39ef99;
      opacity: 1 !important;
      color:#222;

      &:hover{
        opacity: 1 !important;
      }

    }

    &:hover{
      opacity: 0.7;
    }
  }
}
