{% extends 'base.html' %}
{% load staticfiles bootstrap4 %}

{% block head %}
  <title>Create race</title>
  <link rel="stylesheet" href="{% static 'css/for-form.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="container d-flex justify-content-center">
      <h1 class="title-yellow">Create Race</h1>
    </div>
    <form method="post" class="form {% if form.errors %}errors{% endif %}">
      {% csrf_token %}
        {% bootstrap_form_errors form %}
        {% for hidden_field in form.hidden_fields %}
          {{ hidden_field.errors }}
          {{ hidden_field }}
        {% endfor %}
       <div class="form-group row">
         <label for="id_track" class="col-sm-1 offset-sm-2 col-form-label">Track:</label>
         <div class="col-sm-7">
             <select name="track" required id="id_track">
                 <option value="" selected>---------</option>
                 {% for track in form.fields.track.choices.queryset %}
                 <option value="{{ track.pk }}">{{ track.name }}</option>
                 {% endfor %}
             </select>
         </div>
       </div>
       <fieldset class="form-group">
         <div class="row">
           <legend class="col-form-label col-sm-1 offset-sm-2 pt-0">Racers:</legend>
           <div class="col-sm-7 d-flex">
             <div class="form-check">
               <input class="form-check-input" type="radio" name="racers_needed" id="gridRadios1" value="2" checked>
               <label class="form-check-label" for="gridRadios1">
                 <div class="chec-custom"></div>
                 2 racers
               </label>
             </div>
             <div class="form-check">
               <input class="form-check-input" type="radio" name="racers_needed" id="gridRadios2" value="3">
               <label class="form-check-label" for="gridRadios2">
                 <div class="chec-custom"></div>
                 3 racers
               </label>
             </div>
             <div class="form-check ">
               <input class="form-check-input" type="radio" name="racers_needed" id="gridRadios3" value="4" >
               <label class="form-check-label" for="gridRadios3">
                 <div class="chec-custom"></div>
                 4 racers
               </label>
             </div>
           </div>
         </div>
       </fieldset>
       <div class="form-group row">
          <label for="inputEmail3" class="col-sm-1 offset-sm-2 col-form-label">Price:</label>
          <div class="col-sm-7">
            <div class="input-group mb-2">
             <div class="input-group-prepend">
               <div class="input-group-text">ETH</div>
             </div>
             <input required type="text" name='price' class="form-control" id="inlineFormInputGroup" placeholder="1.5">
           </div>
          </div>
        </div>
        <div class="form-group row">
         <div class="col-sm-12 center-flex">
           <button type="submit" class="btn btn-lg btn-yellow">Create</button>
         </div>
        </div>
    </form>
  </div>
{% endblock %}
