{% extends 'base.html' %}
{% load bootstrap4 %}

{% block head %}
  <title>Fuel</title>
  <link rel="stylesheet" href="/static/libs/ion.rangeSlider.css">
  <link rel="stylesheet" href="/static/css/fiel.css">
{% endblock %}
{% block script %}
  <script src='/static/js/picker.js'></script>
  <script src='/static/js/ion.rangeSlider.js'></script>
{% endblock %}

{% block content %}
<div class="container">
  <!-- <h2>Race #{{ object.pk }}</h2> -->
  <div class="container d-flex justify-content-center">
    <h1 class="title-yellow">FILL THE CAR</h1>
  </div>
  <!-- <div>{{ object.track.name }}
      [{{ object.price }} ETH]
       ({{ object.track.length }} days,
      {{ object.racers_needed }} racers needed,
      {{ object.track.refills }} refills)
      {{ object.racers_count }} joined</div> -->
  <form method="post" id='join-form_js' class="content-flex">
    <div >
      {% bootstrap_form form %}
      <div class="title-fuel-block">
        <img src='/static/img/fuel-icon.png'>
        <span>CHOOSE FUEL</span>
      </div>
      <div class="user-fuel-block">
        <div class='ava' style="background-image: url('{{ request.user.customer.avatar.url }}')"></div>
        <div class="text">Fill a tank with cryptocurrency you believe in and go to the track. И можно сюда добавить еще немножечко текста потому что одна строчка для описания выглядит совсем уныло. . .</div>
      </div>
      {% csrf_token %}
        {% for currency in currencies %}
          <div class="overlay-slider-rage {{ currency.code|lower }}-overlay cointype {{ currency.code|lower }}-cointype" >
            <div class="coin-code">{{ currency.code }}</div>
            <div class="flex-position">
              <input id='{{ currency.code }}' type="text" class="example {{ currency.code|lower }}-slide" value="" />
              <div class="input-coin-hands">
                <input  data-coin-name='{{ currency.code }}' class="{{ currency.code }} input-val-range-slider_js" value="0" type='text'/>
                <span>%</span>
              </div>
            </div>
          </div>
        {% endfor %}
  <!--
      <div class="overlay-slider-rage xrp-overlay cointype xrp-cointype" >
        <div class="coin-code">xrp</div>
        <input id='XRP' type="text" class="example xrp-slide"  value="" />
        <input data-coin-name='XRP' class="XRP input-val-range-slider_js" value="0" type='number'/>%
      </div>

      <div class="overlay-slider-rage dash-overlay cointype dash-cointype" >
        <div>DASH</div>
        <input id='DASH' type="text" class="example" value="" />
        <input data-coin-name='DASH' class="DASH input-val-range-slider_js" value="0" type='number' />%
      </div> -->


      <div id='alert-fuel-form_js' class="isHidden alert alert-warning" role="alert">
        Please choose exactly 100%
      </div>
      <!-- {% for currency in currencies %}{{ currency.code }}{% endfor %} -->

      <!-- Example: <br><code>{ {% for currency in currencies %}"{{ currency.code }}": "0.05"{% if not forloop.last %}, {% endif %}{% endfor %} }</code> -->

    </div>
    <div class="img-barel">
      <img src='/static/img/fuel.png'>
    </div>
      <div class="overlay-for-btn">
        <a href='/game/'>
          <img src='/static/img/BACK.png'>
        </a>
        <button  class="btn btn-primary" id='btn-submit-fuel-form_js' disabled >START</button>
      </div>
  </form>
</div>
{% endblock %}
