{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
  <h2>Race #{{ object.pk }}</h2>
  <div>{{ object.track.name }}
      [{{ object.price }} ETH]
       ({{ object.track.length }} days,
      {{ object.racers_needed }} racers needed,
      {{ object.track.refills }} refills)
      {{ object.racers_count }} joined</div>
  <h3>Are you sure you want to leave this race?</h3>
  <form method="post">
    {% csrf_token %}
    {% buttons %}
        <button type="submit" class="btn btn-danger">Leave</button>
        <a href="{% url 'game:watch' pk=object.pk %}" class="btn btn-default">Cancel</a>
    {% endbuttons %}
  </form>
{% endblock %}
