{% extends 'base.html' %}
{% load bootstrap4 %}

{% block head %}
  <title>Search race</title>
  <link rel="stylesheet" href="/static/css/list-race.css">
{% endblock %}

{% block script %}
  <script src='/static/js/race-list.js'></script>
{% endblock %}

{% block content %}
<div class="container">

    <div class="track overlay">
      <section class="section4 row">
        {% if not_started.count %}
          <div class="col-sm-6">
            <div class="content d-flex align-items-center flex-column">
              <div class="container d-flex justify-content-center">
                <h1 class="title-yellow white-title">AWAITING PLAYERS</h1>
              </div>
              {% for race in not_started %}
                {% include 'game/includes/race_list_item.html' %}
              {% endfor %}
            </div>
          </div>
        {% endif %}
        {% if ongoing.count %}
          <div class="col-sm-6">
            <div class="content d-flex align-items-center flex-column">
              <div class="container d-flex justify-content-center">
                <h1 class="title-yellow">ACTIVE RACE</h1>
              </div>
              {% for race in ongoing %}
                {% include 'game/includes/race_list_item.html' %}
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </section>
    </div>
{#    {% bootstrap_pagination page_obj %}#}
</div>
{% endblock %}
