{% extends 'base.html' %}
{% load staticfiles bootstrap4 %}

{% block head %}
  <title>Select car</title>
  <link rel="stylesheet" href="{% static 'css/for-form.css' %}">
  <link rel="stylesheet" href="{% static 'css/slide.css' %}">
  <link rel="stylesheet" href="{% static 'slick-1.8.0/slick/slick.css' %}">
{% endblock %}

{% block script %}
  <script src='/static/slick-1.8.0/slick/slick.min.js'></script>
  <script src='/static/js/slider.js'></script>
{% endblock %}

{% block content %}

<div class="hidden-xs-up user-skin-id_js">{{request.user.customer.car_skin.id}}</div>
<form method="post" class="container">

    {% csrf_token %}
    {% with form.fields.car_skin_val as car_skin_field %}
    <div class="container d-flex justify-content-center">
      <h1 class="title-yellow">CHOOSE A CAR</h1>
    </div>
          <div id='slider'>
            {% for car_skin in car_skin_field.queryset %}
              <label class="slide" data-skin-pk='{{ car_skin.pk }}'>
                  <div class="hidden-xs-up cost">{{ car_skin.price|floatformat:3 }}</div>
                  <img src="/uploads/{{ car_skin.side_view }}" alt="{{ car_skin.name }}">
                  <input data-skin-pk='{{ car_skin.pk }}' {% if car_skin.price %}disabled{% endif %} type="radio" name="car_skin_val" id="{{ car_skin.pk }}" value="{{ car_skin.pk }}" {% if car_skin == request.user.customer.car_skin %}checked{% endif %}>
                  <!-- {{ car_skin.name }} -->
              </label>
            {% endfor %}
          </div>
    {% endwith %}
    <div class="d-flex buttons">
      <a href='/game/' id='back-btn'>
        <img src='/static/img/BACK.png'>
      </a>
        <div id='prev-a' style="background-image: url('/static/img/prev.png')"></div>
        {% for car_skin in form.fields.car_skin_val.queryset %}
          {% if forloop.counter == 1 %}
            {% if car_skin.price %}
              <button type="submit" class="btn blue-btn_js" name="action" disabled value="car_skin">BUY - {{ car_skin.price|floatformat:3 }} <img src='/static/img/eth.ico' width='30px'></button>
            {% else %}
              <button type="submit" class="btn blue-btn_js" name="action" value="car_skin">FREE</button>
            {% endif %}
          {% endif %}
        {% endfor %}
        <div id='next-a' style="background-image: url('/static/img/next.png')"></div>
    </div>
</form>
{% endblock %}
