{% extends 'base.html' %}
{% load bootstrap4 %}

{% block head %}
    <title>Race #{{ race.pk }}</title>
    <link rel="stylesheet" href="/static/css/race.css">
{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/ractive"></script>
    <script>
        var raceData = {
            pk: '{{ race.pk }}',
            trackTitle: '{{ race.track.name | escapejs }}',
            price: '{{ race.price | floatformat:3 }}',
            duration: {{ race.track.length.total_seconds }},
            racersNeeded: {{ race.racers_needed }},
            participating: {% if current_racer in race.racers.all %}true{% else %}false{% endif %},
            has_refills_left: {% if current_racer.has_refills_left %}true{% else %}false{% endif %},
            percentages: {% if current_racer %}{{ current_racer.percentages | safe }}{% else %}null{% endif %}
        };
        var skins = {
        {% for skin in skins %}
            {{ skin.pk }}: '{{ skin.top_view.url | escapejs }}',
        {% endfor %}
        };
    </script>
    <script src='/static/js/watch-race.js'></script>
{% endblock %}

{% block content %}
    {% verbatim %}
    <script id="race-watch-template" type="text/x-handlebars-template">
        <div class="container-fluid container-flex">
            {{#if ready}}
                {{#if ongoing}}
                    <img class="tree3" src='/static/img/tree1.png'>
                {{/if}}
                <h3>Race #{{data.pk}} {{#if finished}}(FINISHED){{/if}}</h3>

                {{#if finished}}
                    {{#each state.racers_data}}
                        {{#with this}}  <!-- rank, rank_suffix, diff, racer -->
                            <div class='racer-info-block finished-block racer-info-{{racer.id}}_js active'>
                                <div class='racers-title-overlay'>
                                    <div class="racers-title">{{data.trackTitle}}</div>
                                    <img src='/static/img/shape.png'>
                                </div>
                                <div class="racers-name">
                                    <img src='/static/img/car-title.png'>
                                    PLAYER - <span>&nbsp;{{racer.username}} {{#if rank == 1}}(WINNER){{/if}}</span>
                                    <div class="race-avatar ava"
                                         style='background-image: url("{{racer.avatar}}")'></div>
                                </div>
                                <div class="racers-status">
                                    <span class='ps'>Ps.</span>
                                    <span class='score'>{{diff}} %</span>
                                    <span class="border-shape"></span>
                                    <span class='place {{#if rank == 1}}top-place{{/if}}'>{{rank}} <span>{{rank_suffix}}</span></span>
                                    <!--<span class='arrow'></span>
                                    <span class="border-shape"></span>
                                    {{#each racer.bids_list}}
                                        {{#if this.percentage != 0}}
                                            <div class="{{this.currency_code.toLowerCase()}} {{this.currency_code.toLowerCase()}}-cointype coin-round"></div>
                                            <div class="percent">{{Math.round(this.percentage)}}%</div>
                                        {{/if}}
                                    {{/each}}-->
                                </div>
                            </div>
                        {{/with}}
                    {{/each}}
                {{/if}}

                {{#if ongoing}}
                    <audio autoplay src="/static/1.mp3"></audio>
                    {{#each state.racers_data}}
                        {{#with this}}  <!-- rank, rank_suffix, racer -->
                            <div class='racer-info-block racer-info-{{racer.id}}_js {{#if selectedRacer == racer.id}}active{{/if}}'>
                                <div class='racers-title-overlay'>
                                    <div class="racers-title">{{data.trackTitle}}</div>
                                    <img src='/static/img/shape.png'>
                                </div>
                                <div class="racers-name">
                                    <img src='/static/img/car-title.png'>
                                    PLAYER - <span>&nbsp;{{racer.username}}</span>
                                    <div class="race-avatar ava"
                                         style='background-image: url("{{racer.avatar}}")'></div>
                                </div>
                                <div class="racers-status">
                                    <span class='ps'>Ps.</span>
                                    <span class='score'>{{racer.diff_str}}%</span>
                                    <span class="border-shape"></span>
                                    <span class='place'>{{rank}} <span>{{rank_suffix}}</span></span>
                                    <span class='arrow'>↑</span>
                                    <span class="border-shape"></span>
                                    {{#each racer.bids_list}}
                                        {{#if this.percentage != 0}}
                                            <div class="{{this.currency_code.toLowerCase()}} {{this.currency_code.toLowerCase()}}-cointype coin-round"></div>
                                            <div class="percent">{{Math.round(this.percentage)}}%</div>
                                        {{/if}}
                                    {{/each}}
                                </div>
                            </div>
                        {{/with}}
                    {{/each}}
                    <div class="road-wrapper">
                        <div class="road-block">
                            <img class="tree1" src='/static/img/tree1.png'>
                            <img class="tree2" src='/static/img/tree2.png'>
                            {{#each state.racers_data}}
                                <div class="two-animation an-{{this.rank}}">
                                    <div style='background-image:url({{ skins[this.racer.car_skin] }})'
                                         id='position-{{this.rank}}'
                                         class="position position-{{this.rank}}"
                                         on-click="@context.set('selectedRacer', this.racer.id)">
                                        <div class="hint  {{#if this.racer.id == selectedRacer}}active{{/if}}">
                                            {{ this.racer.username }}
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                {{/if}}


                {{#if notStarted}}
                    {{#each state.racers_data}}
                        {{#with this}}    <!-- rank, rank_suffix, racer -->
                            <div class='racer-info-block racer-info-{{racer.id}}_js {{#if selectedRacer == racer.id}}active{{/if}}'>
                                <div class='racers-title-overlay'>
                                    <div class="racers-title">{{data.trackTitle}}</div>
                                    <img src='/static/img/shape.png'>
                                </div>
                                <div class="racers-name">
                                    <img src='/static/img/car-title.png'>
                                    PLAYER - <span>&nbsp;{{racer.username}}</span>
                                    <div class="race-avatar ava"
                                         style='background-image: url("{{racer.avatar}}")'></div>
                                    <!--avatar here to BG  -->
                                </div>
                                <div class="racers-status">
                                    <!-- <span class='ps'>Ps.</span> -->
                                    <span class='score'>Waiting for start</span>
                                    {{#if data.participating}}
                                        <span class="border-shape"></span>
                                        <span class='score'>Your percentages:</span>
                                        {{#each data.percentages}}
                                            {{#if this != '0' }}
                                                <div class="{{@key}}-cointype coin-round"></div>
                                                <div class="percent">{{Math.round(this * 100)}}%</div>
                                            {{/if}}
                                        {{/each}}
                                    {{/if}}
                                </div>
                            </div>
                        {{/with}}
                    {{/each}}

                    <div class="road-block not-start">
                        <div class="timer-start">
                            <div class="circ-count-overlay">
                                <div class="circ-count first">{{#if data.racersNeeded - joinedCount <= 2}}<span></span>{{/if}}</div>
                                <div class="circ-count second">{{#if data.racersNeeded - joinedCount <= 1}}<span></span>{{/if}}</div>
                                <div class="circ-count"></div>
                            </div>

                            <div class="flags">
                                <img src='/static/img/lf.png'/>
                            </div>
                            <div class="times">
                                <div class="time green-shadow racers_count_js">{{data.racersNeeded - joinedCount}} RACERS</div>
                                <div class="text">UNTIL START</div>
                            </div>
                            <div class="flags">
                                <img src='/static/img/rf.png'/>
                            </div>
                        </div>


                        <div class="position-fake position-1"></div>
                        <div class="position-fake position-2"></div>
                        <div class="position-fake position-3"></div>
                        <div class="position-fake position-4"></div>
                        <!-- <div class="position-fake position-5"></div> -->

                        {{#each state.racers_data}}
                            <div style='background-image:url({{ skins[racer.car_skin] }}), url("/static/img/ret.png")'
                                 id='position-{{this.rank}}'
                                 class="position position-{{this.rank}}"
                                 on-click="@context.set('selectedRacer', this.racer.id)">
                                <div class="hint {{#if this.racer.id == selectedRacer}}active{{/if}}">
                                    {{this.racer.username}}
                                </div>
                            </div>
                        {{/each}}
                    </div>
                {{/if}}

                <div class="race-info-block">
                    <div class="title-race-info">RACE INFO</div>
                    <div class="content-race-info">
                        <div class="field-race-info">

                            <div class="field-race-block ">
                                <div class="field-race-info-title">DURATION:</div>
                                <div class="info-race-info long {{#if finished}}justify-content-center{{/if}}">
                                    {{#if finished}}
                                        <span class='green green-shadow js_time text-center'>FINISHED</span>
                                    {{else}}
                                        <span class='green green-shadow js_time'>{{timeLeft}}</span>
                                        <div>UNTIL END</div>
                                    {{/if}}
                                </div>
                            </div>

                            <div class="field-race-block ">
                                <div class="field-race-info-title grey">PRICE:</div>
                                <div class="info-race-info">
                                    <span class="">{{data.price}}</span>
                                    <div>ETH</div>
                                    <div class='eth-coin'></div>
                                </div>
                            </div>
                        </div>
                        {{#if !data.participating && notStarted}}
                            <a href="/game/{{data.pk}}/skin/" class="button">Join</a>
                        {{else}}
                            <!-- <h1><a href="/game/{{data.pk}}/leave/">Leave</a></h1> -->
                        {{/if}}
                        {{#if ongoing}}
                            {{#if data.has_refills_left}}
                                <a href="/game/{{data.pk}}/refill/" class="button">Refill</a>
                            {{else}}
                                <a href="/game/{{data.pk}}/refill/" class="button disabled">Refill</a>
                            {{/if}}
                        {{/if}}

                    </div>
                </div>
            {{else}}
                <h1>Preloader</h1>
            {{/if}}
        </div>
    </script>
    {% endverbatim %}
    <div id="template-target"></div>
{% endblock %}
