{% extends 'base.html' %}
{% load staticfiles bootstrap4 %}

{% block head %}
  <title>Sign Up</title>
  <link rel="stylesheet" href="{% static 'css/for-form.css' %}">
{% endblock %}

{% block content %}
  <div class="content-reg container content-reg container d-flex flex-column align-items-center">
    <div class="container d-flex justify-content-center">
      <h1 class="title-yellow">Sign Up</h1>
    </div>
    <form method="post" class="for-label">
      {% csrf_token %}
      {% bootstrap_form form %}
      <div class="center-flex">
          <button type="submit" class="btn btn-lg btn-yellow">Sign Up</button>
      </div>
    </form>
  </div>
{% endblock %}
